<link rel="shortcut icon" href="/images/favicon.ico">

<!--Morris Chart CSS 
<link rel="stylesheet" href="../plugins/morris/morris.css"> -->

<link href="/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/admin/css/metismenu.min.css" rel="stylesheet" type="text/css">
<link href="/admin/css/icons.css" rel="stylesheet" type="text/css">
<link href="/admin/fa/css/all.css" rel="stylesheet" type="text/css">
<link href="/admin/css/style.css" rel="stylesheet" type="text/css">
<link href="/admin/css/custom.css" rel="stylesheet" type="text/css">