<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>brand Detail</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    <script src="/admin/js/admin/brand.js"></script>
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    

       <%-await include('header.html')%>
       <%-await include('imageLibrary.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title"><%=brand.name%> &rsaquo; detail</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->

                    <!-- start main content here-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card m-b-20">
                                <div class="card-body">
                                
    
                                    <h4 class="mt-0 header-title"><%=brand.name%></h4>
                                    <p class="sub-title">Change the brand cover from below</p>
                                    
                                    
                                    
                                    <%let images = brand.image;
                                         if(images.length>0){%>
                                    
                                    <div id="imageSlider" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <%for(image in images){ 
                                                if(!images[image]) continue;
                                            %>
                                               <li data-target="#imageSlider" data-slide-to="<%-image%>" class="<%=image==0?'active':''%>"></li>
                                            <%}%>
                                        </ol>
                                        <div class="carousel-inner" role="listbox">
                                            
                                            <%for(image in images){
                                                if(!images[image]) continue;
                                            %>
                                                <div class="carousel-item <%=image==0?'active':''%>">
                                                    <img class="d-block img-fluid mx-auto" src="<%-images[image].medium%>" alt="First slide">
                                                </div>
                                            <%}%>
                                            
                                        </div>
                                        <a class="carousel-control-prev" href="#imageSlider" role="button" data-slide="prev">
                                            <span class="text-dark" aria-hidden="true">
                                                <i class="fas fa-3x fa-chevron-left"></i>
                                            </span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#imageSlider" role="button" data-slide="next">
                                                <span class="text-dark" aria-hidden="true">
                                                    <i class="fas fa-3x fa-chevron-right"></i>
                                                </span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                    <div class="container-fluid" id='imageEdit'>
                                        <%for(x in images){
                                            if(!images[x]) continue;
                                        %>
                                           <div class="row border border-primary m-1" id="img<%-x%>">
                                               <div class="col-sm-4 col-md-3 <%=x==0?'active':''%>" data-target="#imageSlider" data-slide-to="<%-x%>" >
                                                   <img src="<%-images[x].icon%>" alt="" class="img-fluid">
                                               </div>
                                               <div class="col-sm-8 col-md-9">
                                                   <div class="title text-primary">
                                                       <%-images[x].name%>
                                                   </div>
                                                   <div class="buttons m-2">
                                                        <button class="btn btn-danger btn-sm " onclick="delImageBrand('<%-images[x]._id%>', '<%-x%>')">
                                                            <i class="fal fa-trash"></i> Delete
                                                        </button>
                                                        
                                                        <%if (brand.cover && brand.cover._id.toHexString() == images[x]._id){%>
                                                            <button class="btn btn-outline-success btn-sm statbtn" onclick="makeThumbBrand('<%-images[x]._id%>', '<%-x%>')">
                                                                <i class="fal fa-check"></i> Thumbnail
                                                            </button>
                                                        <%}else{%>
                                                            <button class="btn btn-info btn-sm statbtn" onclick="makeThumbBrand('<%-images[x]._id%>', '<%-x%>')">
                                                                <i class="fal fa-image"></i> Set As Thumbnail
                                                            </button>
                                                        <%}%>
                                                   </div>
                                               </div>
                                           </div>
                                        <%}%>
                                    </div>
                                    <%}%>
                                </div>
                                <div class="card-footer alert-primary">
                                    <div class=" mb-3 lead text- text-center">
                                        <i class="fal fa-camera-retro fa-lg"></i> <b>Add more Images</b>
                                    </div>
                                    <form action="#" onsubmit='submitImageBrand(event)' method='post' enctype="multipart/form-data">
                                        <input type="hidden" name="id" value="<%-brand._id%>"> <br>     
                                        <div class="form-group">
                                            <input type="text" name="image" id="image">
                                        </div>
                                        <button class="btn btn-light btn-sm mt-2" type='submit'>Upload Image</button>  
                                    </form>
                                </div>
                            </div>
                        </div> <!-- end col -->

                        <div class="col-md-6">
                            <div class="card m-b-20">
                                <div class="card-body">
    
                                    <h4 class="mt-0 header-title">Details 
                                        <button class="float-right btn btn-primary" id='editBtn' onclick='convertToForm()'>
                                            <i class="fal fa-edit"></i> Edit
                                        </button>
                                    </h4>
                                    <p class="sub-title"> 
                                        Click edit to change
                                    </p>

                                    <!-- *edit form -->
                                    <form action="#" onsubmit='submitBrandUpdate(event)'>
                                        <input class='form-control' type="hidden" name="id" value="<%-brand._id%>">
                                    <div class="table-responsive">
                                        <table class="table table-bordered mb-0" id='mainTable'>
                                            <tbody>
                                                
                                                <tr>
                                                    <th scope="row">
                                                        <i class="fa fa-check"></i>
                                                    </th>
                                                    <td>Name</td>
                                                    <td>
                                                        <input class='form-control' type="text" name="name" id="" >
                                                    </td>
                                                </tr>
                                               
                                                
                                            </tbody>
                                        </table>
                                        <button class="btn btn-success mt-2" type='submit' id='submitBtn' style='display: none;'>Update brand</button>
                                    </div>
                                    
                                </form>
                                <!-- end edit form -->
                            </div>
                        </div>
                        <button class="btn btn-danger mt-2 float-right" type='button' onclick="delBrand(event)">
                            <i class="fal fa-trash-alt"></i> Delete brand
                        </button>
                        </div><!-- end col-->

                    </div><!-- end row -->
                    <div class="row"> <!-- product listing row-->
 
                        <div class="col-sm-12 mb-3">
                            <h5 class="page-title"><%=brand.name%> &rsaquo; Products</h5>
                        </div>

                        <%let products = await getBrandProduct(brand._id)%>
                        <%for (product of products.data){%>
                        <div class="col-md-6 col-xl-3">

                            <!-- Simple card -->
                            <div class="card m-b-30">
                                <img class="card-img-top img-fluid" src="<%-product.cover.thumbnail%>" alt="<%=product.name%> image">
                                <div class="card-body">
                                    <h4 class="card-title font-16 mt-0"><%=product.name%></h4>
                                    <p class="card-text">
                                        <span class="btn btn-outline-dark btn-sm">
                                            <i class="fa fa-dollar-sign"></i>
                                            <%-product.price%> / <%-product.retailPrice%>         
                                        </span>
                                        </p>

                                    <a href="/admin/product/view/<%=product._id%>" class="btn btn-primary waves-effect waves-light">
                                        <i class="fa fa-eye"></i> View
                                    </a>
                                </div>
                            </div>

                        </div><!-- end col -->
                        <%}%>
                        
                        <!-- add more-->
                        <div class="col-md-6 col-xl-3">
                        

                            <div class="card m-b-30">
                                <div class="card-img-top img-fluid text-center" style='width:100%; height:100%'>
                                    <i class="fal fa-plus-circle fa-5x p-5"></i>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title font-16 mt-0 text-center">
                                        <a href="/admin/product/add" class='stretched-link card-link'>
                                            Add New
                                        </a>
                                    </h4>
                                </div>
                            </div>

                        </div><!-- end col -->
                        <!-- end add more-->

                        </div> <!-- end listing row-->

                    <!-- end main content here-->
                </div>
                <!-- container-fluid -->

           

   <%-await include('footer.html')%>


        <script>
            let brand = <%-JSON.stringify(brand)%>;
            $(document).ready(()=>{convertToUI(brand)});
            let imgLib = new ImageLibrary(document.getElementById('image'));

        </script>
</body>

</html>