<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Alpha </title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    
    <%-await include('header.html')%>
    
    <%-await include('imageLibrary.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Add Brand</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    <!-- start main content from here  -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <form action="#" onsubmit=" return submitBrand(event)" class=''>
                                    <h4 class="mt-0 header-title">Brand Information</h4>
                                    <p class="sub-title">General Information</p>  
                                    <hr>    
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Brand Name</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" placeholder="Ayan Fashion" type="text" value="" name="name" >
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                                                        
                                    <h4 class="mt-5 header-title">Brand Description</h4>
                                    <p class="sub-title">Write a short description</p>  
                                    <hr>
                                    <textarea name="description" id="" cols="30" rows="10" class='form-control'></textarea>
                                    
                                    <h4 class="mt-5 header-title">Brand Image</h4>
                                    <p class="sub-title">Add Brand cover image</p>  
                                    <hr>

                                    <div class="row" >
                                        <div class="col-12">
                                            <div class="card m-b-30 " id='drop'>
                                                <div class="card-body" >
                                                        Select Image
                                                        <input name="image" type="text" id='imgUpload' >
                                                </div>
                                            </div>
                                        </div> <!-- end col -->
                                    </div> <!-- end row -->  

                                    <button type='submit' class="btn btn-success">
                                        <i class="fal fa-check"></i>
                                        Add Brand
                                    </button>
                                    <button type='reset' class="btn btn-secondary">
                                        <i class="fa fa-refresh"></i>
                                        Reset Form
                                    </button>
                                    </form>
                                    
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->      
                    <!--end main content here-->
                </div>
                <!-- container-fluid -->

    <%-await include('footer.html')%>




</body>
    <script src="/admin/js/admin/brand.js"></script>
    <script>
        let imgLib = new ImageLibrary(document.getElementById('imgUpload')); //initiate img upload filed on #imgUpload
    </script>

</html>