<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>brand List</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    

       <%-await include('header.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">All Brands</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                            
                        </div>
                        <%- await include('pagination.html', {page:brands.page, pageName:'brand/list'})%>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    
                    <!-- start main content here-->
                        <div class="container-fluid">
                            <table class='table'>
                                <tr>
                                    <th>Cover</th>
                                    <th>Name</th>
                                    <th>Products</th>
                                    <th>View</th>
                                </tr>                            
                            <%for (brand of brands.data){%>
                                <tr>
                                    <td>
                                        <img class="" src="<%-brand.cover && brand.cover.thumbnail%>"
                                        style='max-width:50px' alt="<%=brand.name%> image">
                                    </td>
                                    <td>
                                        <b class="font-14"><%=brand.name%></b>
                                    </td>
                                    <td>
                                        <%-brand.productCount%>
                                    </td>
                                    <td>
                                        <a href="/admin/brand/view/<%=brand._id%>" class="btn btn-sm btn-primary waves-effect waves-light">
                                            <i class="fa fa-eye"></i> View
                                        </a>
                                    </td>
                                </tr>
                            <%}%>
                        </table>

                        </div>

                    <!-- end main content here-->
                </div>
                <!-- container-fluid -->

           

   <%-await include('footer.html')%>

</body>

</html>