<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Alpha </title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    
    <%-await include('header.html')%>
    <%-await include('imageLibrary.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Add Category</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    <!-- start main content from here  -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <form action="#" onsubmit=" return submitCategory(event)" class=''>
                                    <h4 class="mt-0 header-title">Category Information</h4>
                                    <p class="sub-title">General Information</p>  
                                    <hr>    
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Category Name</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" placeholder="Men’s Fashion" type="text" value="" name="name" >
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Category Type</label>
                                        <div class="col-sm-10">
                                            <input type="radio" name="type" id="" value='sub' onclick="$('select[name=parent]').show()"> Sub Category
                                            <input type="radio" name="type" id="" value='top' class='ml-3' onclick="$('select[name=parent]').hide()"> Top Category

                                            <select class="form-control mt-3 " style='display:none' name="parent" id='parentSelect'>
                                                <option selected value=''>Select Parent Category</option>
                                                <%for(x of categories){%>
                                                    <option value="<%-x._id%>"><%=x.name%></option>
                                                <%}%>
                                            </select>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                    
                                    <h4 class="mt-5 header-title">Category Description</h4>
                                    <p class="sub-title">Write a short description</p>  
                                    <hr>
                                    <textarea name="description" id="" cols="30" rows="10" class='form-control'></textarea>
                                    
                                    <h4 class="mt-5 header-title">Category Image</h4>
                                    <p class="sub-title">Add category cover image</p>  
                                    <hr>

                                    <div class="row" >
                                        <div class="col-12">
                                            <div class="card m-b-30 " id='drop'>
                                                <div class="card-body" >
                                                    <p class="sub-title">
                                                        Select Image
                                                    </p>
                    
                                                    <div class="m-b-30">
                                                            <div class="fallback">
                                                                <input name="image" type="text" id='image'>
                                                            </div>
                                                    </div>
                    
                                                </div>
                                            </div>
                                        </div> <!-- end col -->
                                    </div> <!-- end row -->  

                                    <button type='submit' class="btn btn-success">
                                        <i class="fal fa-check"></i>
                                        Add Category
                                    </button>
                                    <button type='reset' class="btn btn-secondary">
                                        <i class="fa fa-refresh"></i>
                                        Reset Form
                                    </button>
                                    </form>
                                    
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->      
                    <!--end main content here-->
                </div>
                <!-- container-fluid -->

    <%-await include('footer.html')%>
    

    <script src="/admin/js/admin/category.js"></script>

    <script>
    let category = <%-JSON.stringify(categories)%>;
    
    let imgLib = new ImageLibrary(document.getElementById('image'));

    </script>



</body>

</html>