<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Category List</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    

       <%-await include('header.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Top Level Categories</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <%- await include('pagination.html', {page:categories.page, pageName:'category/list'})%>

                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    <!-- start main content here-->
                        <div class="container-fluid">
                            <table class="table">
                                <tr>
                                    <th style="width:  5%"></th>
                                    <th>Cover</th>
                                    <th>Name</th>
                                    <th>Product</th>
                                    <th>Sub Category</th>
                                    <th>View</th>
                                </tr>
                                <%for (category of categories.data){
                                    if(category.type != 'top') continue;

                                    let subCategories = categories.data.filter(item=>{
                                        if(item.parent){
                                            return item.parent.toHexString() == category._id.toHexString()
                                        }
                                        return false
                                    })  
                                %>
                                    <tr>
                                        <td style="width: 5%">
                                            <%if(subCategories.length >0){%>
                                                <button class=" d-inline-block btn fal fa-chevron-right" 
                                                onclick="$('.child<%=category._id%>').fadeToggle()">
                                                </button>
                                            <%}%>
                                        </td>
                                        <td>
                                            
                                            <img class="" src="<%-category.cover && category.cover.thumbnail%>"
                                            style='max-width:50px' alt="<%=category.name%> image">
    
                                        </td>
                                        <td>
                                            <%=category.name%>
                                        </td>    
                                        <td>
                                            <%=category.productCount%>
                                        </td>    
                                        <td>
                                            <%=category.subCategoryCount%>
                                        </td>
                                        <td>
                                            <a href="/admin/category/view/<%=category._id%>" class="btn btn-sm btn-primary waves-effect waves-light">
                                                <i class="fa fa-eye"></i> View
                                            </a>  
                                            
                                        </td>  
                                   </tr>
                                   <tr>
                                
                                
                                <%for (subCategory of subCategories){%>
                                <tr class='border border-dark <%= 'child'+category._id%>' style='display:none'>
                                        <td style="width:  5%"></td>
                                        <td>
                                            <img class="" src="<%-subCategory.cover && subCategory.cover.thumbnail%>"
                                            style='max-width:50px' alt="<%=subCategory.name%> image">
    
                                        </td>
                                        <td>
                                            <%=subCategory.name%>
                                        </td>    
                                            
                                        <td>
                                            <%=subCategory.productCount%>
                                        </td>    
                                        <td>
                                            <%=subCategory.subCategoryCount%>
                                        </td>
                                        <td>
                                            <a href="/admin/category/view/<%=subCategory._id%>" class="btn btn-sm btn-primary waves-effect waves-light">
                                                <i class="fa fa-eye"></i> View
                                            </a>  
                                        </td>    
                                    </tr>
                                <%}%>
                            <%}%>
                            </table>
                        </div>

                    <!-- end main content here-->
                </div>
                <!-- container-fluid -->

           

   <%-await include('footer.html')%>

</body>

</html>