<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Category List</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    

       <%-await include('header.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title"><%=info.name%> &rsaquo;  Details</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Stexo</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    <!-- start main content here-->
                        <div class="row">
                                <div class="col-md-6">
                                        <div class="card m-b-20">
                                            <div class="card-body">
                                            
                
                                                <h4 class="mt-0 header-title"><%=category.name%></h4>
                                                <p class="sub-title">Change the category cover from below</p>
                                                
                                                
                                                <div id="imageSlider" class="carousel slide" data-ride="carousel">
                                                    <img src="<%-category.image%>" alt="" class="img-fluid">
                                                </div>
                                            </div>
                                            <div class="card-footer alert-light">
                                                <div class=" mb-3 lead text- text-center">
                                                    <i class="fal fa-camera-retro  fa-lg"></i> <b>Change Cover Image</b>
                                                    <div class="text-muted ">
                                                       <small> Uploading new image will overwrite the existing one.</small>
                                                    </div>
                                                </div>
                                                <form action="#" onsubmit='submitImage(event)' method='post' enctype="multipart/form-data">
                                                    <input type="file" name="images"  id="">
                                                    <input type="hidden" name="id" value=<%-category.id%>> <br>
                                                    <button class="btn btn-secondary btn-sm mt-2" type='submit'>Upload Image</button>  
                                                </form>
                                            </div>
                                        </div>
                                    </div> <!-- end col -->
                                <div class="col-sm-6">
                                        <div class="card m-b-20 ">
                                            <div class="card-body">
                
                                                <h4 class="mt-0 header-title">Details 
                                                    <button class="float-right btn btn-primary" id='editBtn' onclick='convertToForm()'>
                                                        <i class="fal fa-edit"></i> Edit
                                                    </button>
                                                </h4>
                                                <p class="sub-title"> 
                                                    Click edit to change
                                                </p>
                                                <form action="#" onsubmit='submitCategoryUpdate(event)'>
                                                    <input class='form-control' type="hidden" name="id" value=<%-category.is%>>
                                                <div class="table-responsive">
                                                    <table class="table table-bordered mb-0" id='mainTable'>
                                                        <tbody>
                                                            
                                                            <tr>
                                                                <th scope="row">
                                                                    <i class="fa fa-check"></i>
                                                                </th>
                                                                <td>Name</td>
                                                                <td>
                                                                    <input class='form-control' type="text" name="name" id="" >
                                                                </td>
                                                            </tr>
                                                           
                                                            <tr>
                                                                <th scope="row">
                                                                    <i class="fa fa-check"></i>
                                                                </th>
                                                                <td >Category Type</td>
                                                                <td>
                                                                    <select name="type" id="" data-value="<%=category.type%>">
                                                                        <option value="sub">Sub category</option>
                                                                        <option value="top">Top Level Category</option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">
                                                                    <i class="fa fa-check"></i>
                                                                </th>
                                                                <td >Parent Category</td>
                                                                <td>
                                                                    <select name="parent" id="" data-value="<%=category.parentName%>">
                                                                        <%for (x of tops){%>
                                                                            <option value="<%-x.id%>"><%-x.name%></option>
                                                                        <%}%>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                    <button class="btn btn-success mt-2" type='submit' id='submitBtn' style='display: none;'>Update category</button>
                                                </div>
                                                
                                            </form>
                                        </div>
                                    </div>
                                </div>


                                <!-- child listing-->
                                <div class="col-sm-12 mb-3">
                                    <h5 class="page-title"><%=info.name%> &rsaquo;  Child Categories</h5>
                                </div>
                            <%for (category of categories){   
                            %>
                            <div class="col-md-6 col-xl-3">
                                
        
                                <!-- Simple card -->
                                <div class="card m-b-30">
                                    <img class="card-img-top img-fluid" src="<%-category.image%>" alt="<%=category.name%> image">
                                    <div class="card-body">
                                        <h4 class="card-title font-16 mt-0"><%=category.name%></h4>
                                        <p class="card-text">
                                            
                                            
                                            <span class='badge badge-success btn-sm'><%-category.productCount%> products</span>
                                        </p>

                                        <a href="/admin/category/child/view/<%=category.id%>" class="btn btn-sm btn-primary waves-effect waves-light">
                                            <i class="fa fa-eye"></i> View
                                        </a>
                                    </div>
                                </div>
        
                            </div><!-- end col -->
                            <%}%>
                        </div>
                    <!-- end main content here-->
                </div>
                <!-- container-fluid -->

           

   <%-await include('footer.html')%>
   <script>
        let category = <%-JSON.stringify(category)%>;
        let tops = <%-JSON.stringify(tops)%>;
        $(document).ready(()=>{

            convertToUI(category)
        })
    </script>
</body>

</html>