 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Category Detail </title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    <script src="/admin/js/admin/category.js"></script>
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    

       <%-await include('header.html')%>
       <%-await include('imageLibrary.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title"><%=category.name%> &rsaquo; detail</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    <!-- start main content here-->
                    <div class="row">
                            <div class="col-md-6">
                                <div class="card m-b-20">
                                    <div class="card-body">
                                    
        
                                        <h4 class="mt-0 header-title"><%=category.name%></h4>
                                        <p class="sub-title">Change the category cover from below</p>
                                        
                                        
                                        
                                        <%let images = category.image;
                                         if(images.length>0){%>
                                        
                                        <div id="imageSlider" class="carousel slide" data-ride="carousel">
                                            <ol class="carousel-indicators">
                                                <%for(image in images){ 
                                                    if(!images[image]) continue;
                                                %>
                                                   <li data-target="#imageSlider" data-slide-to="<%-image%>" class="<%=image==0?'active':''%>"></li>
                                                <%}%>
                                            </ol>
                                            <div class="carousel-inner" role="listbox">
                                                
                                                <%for(image in images){
                                                    if(!images[image]) continue;
                                                %>
                                                    <div class="carousel-item <%=image==0?'active':''%>">
                                                        <img class="d-block img-fluid mx-auto" src="<%-images[image].medium%>" alt="First slide">
                                                    </div>
                                                <%}%>
                                                
                                            </div>
                                            <a class="carousel-control-prev" href="#imageSlider" role="button" data-slide="prev">
                                                <span class="text-dark" aria-hidden="true">
                                                    <i class="fas fa-3x fa-chevron-left"></i>
                                                </span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#imageSlider" role="button" data-slide="next">
                                                    <span class="text-dark" aria-hidden="true">
                                                        <i class="fas fa-3x fa-chevron-right"></i>
                                                    </span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                        <div class="container-fluid" id='imageEdit'>
                                            <%for(x in images){
                                                if(!images[x]) continue;
                                            %>
                                               <div class="row border border-primary m-1" id="img<%-x%>">
                                                   <div class="col-sm-4 col-md-3 <%=x==0?'active':''%>" data-target="#imageSlider" data-slide-to="<%-x%>" >
                                                       <img src="<%-images[x].icon%>" alt="" class="img-fluid">
                                                   </div>
                                                   <div class="col-sm-8 col-md-9">
                                                       <div class="title text-primary">
                                                           <%-images[x].name%>
                                                       </div>
                                                       <div class="buttons m-2">
                                                            <button class="btn btn-danger btn-sm " onclick="delImageCat('<%-images[x]._id%>', '<%-x%>')">
                                                                <i class="fal fa-trash"></i> Delete
                                                            </button>
                                                            
                                                            <%if (category.cover && category.cover._id.toHexString() == images[x]._id){%>
                                                                <button class="btn btn-outline-success btn-sm statbtn" onclick="makeThumbCat('<%-images[x]._id%>', '<%-x%>')">
                                                                    <i class="fal fa-check"></i> Thumbnail
                                                                </button>
                                                            <%}else{%>
                                                                <button class="btn btn-info btn-sm statbtn" onclick="makeThumbCat('<%-images[x]._id%>', '<%-x%>')">
                                                                    <i class="fal fa-image"></i> Set As Thumbnail
                                                                </button>
                                                            <%}%>
                                                       </div>
                                                   </div>
                                               </div>
                                            <%}%>
                                        </div>
                                        <%}%>
                                    </div>
                                    <div class="card-footer alert-primary">
                                        <div class=" mb-3 lead text- text-center">
                                            <i class="fal fa-camera-retro fa-lg"></i> <b>Add more Images</b>
                                        </div>
                                        <form action="#" onsubmit='submitImageCat(event)' method='post' enctype="multipart/form-data">
                                            <input type="hidden" name="id" value="<%-category._id%>"> <br>     
                                            <div class="form-group">
                                                <input type="text" name="image" id="image">
                                            </div>
                                            <button class="btn btn-light btn-sm mt-2" type='submit'>Upload Image</button>  
                                        </form>
                                    </div>
                                </div>
                            </div> <!-- end col -->

                            <div class="col-md-6">
                                <div class="card m-b-20">
                                    <div class="card-body">
        
                                        <h4 class="mt-0 header-title">Details </h4>
                                        <p class="sub-title"> 
                                        </p>

                                        <!-- *edit form -->
                                        <form action="#" onsubmit='submitCategoryUpdate(event)'>
                                            <input class='form-control' type="hidden" name="id" value="<%-category._id%>">
                                        <div class="table-responsive">
                                            <div class="p-1 mb-2">
                                                Url: <a class='' id="" href="<%=category.url%>" disabled><%=category.url%></a>
                                            </div>
                                            <table class="table table-bordered mb-0" id='mainTable'>
                                                <tbody>
                                                    
                                                    <tr>
                                                        <th scope="row">
                                                            <i class="fa fa-check"></i>
                                                        </th>
                                                        <td>Name</td>
                                                        <td>
                                                            <input class='form-control' type="text" name="name" id="" value="<%=category.name%>">
                                                        </td>
                                                    </tr>
                                                                                                       
                                                    <tr>
                                                        <th scope="row">
                                                            <i class="fa fa-check"></i>
                                                        </th>
                                                        <td >Category Type</td>
                                                        <td>
                                                            <select class='form-control' name="type" id="" data-value="<%=category.type%>">
                                                                <%if(category.type){%>
                                                                    <option value="<%=category.type%>"><%=category.type%> Category</option>
                                                                    <option disabled>──────────</option>
                                                                <%}else{%>
                                                                    <option value="">Select Type</option>
                                                                <%}%>
                                                                <option value="sub">Sub category</option>
                                                                <option value="top">Top Category</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <i class="fa fa-check"></i>
                                                        </th>
                                                        <td >Parent Category</td>
                                                        <td>
                                                            <%let categories = await getCategoryList();
                                                            let selectedCategory = await getCategoryParent(category._id)%>
                                                            <select class='form-control' name="parent" id="" data-value="<%=category.parentName%>">
                                                                <%if(selectedCategory){%>
                                                                    <option value="<%=selectedCategory._id%>"><%=selectedCategory.name%></option>
                                                                    <option disabled>──────────</option>
                                                                <%}else{%>
                                                                    <option value="">Select Parent Category</option>
                                                                <%}%>
                                                                <%for (let x of categories.data){%>
                                                                    <option value="<%-x._id%>"><%-x.name%></option>
                                                                <%}%>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                            <button class="btn btn-success mt-2" type='submit' id='submitBtn' style='display: none;'>Update category</button>
                                        </div>
                                        <button class="btn btn-success mt-2" type='submit'>
                                            <i class="fal fa-save"></i> Update    
                                        </button>
                                    </form>
                                    <!-- end edit form -->
                                </div>
                            </div>
                            <button class="btn btn-danger mt-2 float-right" type='button' onclick="delCategory(event)">
                                <i class="fal fa-trash-alt"></i> Delete category
                            </button>
                            </div><!-- end col-->

                        </div><!-- end row -->
                        
                        <!-- child -->

                        <!-- child listing-->
                        <div class="row">
                                
                            <div class="col-sm-12 mb-3">
                                <h5 class="page-title"><%=category.name%> &rsaquo;  Child Categories</h5>
                            </div>
                            <%let childCat = category.subCategory%>
                            <%for (child of childCat){%>
                            <div class="col-md-6 col-xl-3">
        
                                <!-- child category card -->
                                <div class="card m-b-30">
                                    <img class="card-img-top img-fluid" src="<%-child.cover && child.cover.thumbnail %>" alt="<%=child.name%> image">
                                    <div class="card-body">
                                        <h4 class="card-title font-16 mt-0"><%=child.name%></h4>
                                        <a href="/admin/category/view/<%=child._id%>" class="btn btn-sm btn-primary waves-effect waves-light">
                                            <i class="fa fa-eye"></i> View
                                        </a>
                                    </div>
                                </div>
        
                            </div><!-- end col -->
                            <%}%>
                        

                            <!-- add more-->
                            <div class="col-md-6 col-xl-3">
                                
                                    <div class="card m-b-30">
                                        <div class="card-img-top img-fluid text-center" style='width:100%; height:100%'>
                                            <i class="fal fa-plus-circle fa-5x p-5"></i>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title font-16 mt-0 text-center">
                                                <a href="/admin/category/add" class='stretched-link card-link'>
                                                    Add New
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
            
                                </div><!-- end col -->
                                <!-- end add more-->

                        </div>
                        <!-- end child listing-->



                    <!-- end main content here-->
                </div>
                <!-- container-fluid -->

           

   <%-await include('footer.html')%>


        <script>
            let category = <%-JSON.stringify(category)%>;
            let imgLib = new ImageLibrary(document.getElementById('image'));
        </script>
        <script src="/admin/js/admin/category.js"></script>
</body>

</html>