<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Manage Components</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>
    
</head>

<body>

    <!-- Begin page -->
    
       <%-await include('header.html')%>
       <%-await include('imageLibrary.html')%>
                
                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Components</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    <!-- start main content here-->
                    <div class=" components row">
                       <div class="col-md-3 bg-white">
                            <%for(let component of components){%>
                                <div class="row border border-primary m-1">
                                    <button class=' btn text-left d-block col-10' onclick='editComponent("<%=component._id%>")'>
                                        <i class="fal fa-chevron-right"></i>
                                        <%=component.name%>
                                    </button>
                                    <button class=" col-2 btn btn-outline-danger border-0" onclick='delComponent("<%=component._id%>")'>
                                        <i class="fal fa-trash-alt"></i>
                                    </button>
                                </div>
                            <%}%>
                       </div>
                       <div class="col-md-9 border pb-3">
                           <form action="#" name='componentForm' onsubmit='submitComponent(event)'>
                           <h5 class="border-bottom pb-2 text-primary text-center d-flex justify-content-around">Add Component
                                <div>
                                    <button class="btn btn-secondary " type='button' onclick='resetForm()'>
                                        <i class="fal fa-refresh"></i> Reset
                                    </button>   
                                    
                                    <button class="btn btn-primary " type='submit'>
                                        <i class="fal fa-save"></i> Save
                                    </button> 
                                </div>  
                            </h5>
                               <input type="hidden" name="id" id='componentId' value=''>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class='input-group-text' for="name">Component Name</label>
                                    </div>
                                    <input type="text" name="componentName" id="" class="form-control">
                                    <div class="input-group-prepend">
                                        <label for="" class="input-group-text">Target Url</label>
                                    </div>
                                    <input type="url" name="target" id="" placeholder='Target url' value="" class="form-control">
                                    <div class="input-group mt-1">
                                        <div class="input-group-prepend">
                                            <label for="" class="input-group-text">Iframe</label>
                                        </div>
                                        <input type="url" name="iframe"  placeholder='Iframe url' class="form-control">
                                        <div class="input-group-prepend">
                                            <label for="" class="input-group-text">Icon</label>
                                        </div>
                                        <input type="text"  name="icon"   placeholder='Press (windows + .) for icon' class="form-control">
                                    </div>
                                    <div class="input-group mt-1">
                                        <div class="input-group-prepend">
                                            <label for="" class="input-group-text">Image</label>
                                        </div>
                                        <div class='p-0 pl-3 form-control' style='height:auto !important'>
                                            <input type="text" name="image" id="imageInput" class="form-control">
                                        </div>
                                        <div class="input-group-prepend">
                                            <label for="" class="input-group-text">Heading</label>
                                        </div>
                                        <input type="text" name="heading" id="headingInput" class="form-control">
                                        
                                    </div>
                                    <div class="input-group mt-1">
                                        <div class="input-group-prepend">
                                            <label for="" class="input-group-text">Text</label>
                                        </div>
                                        <textarea name="text" id="" rows="3" class='form-control'></textarea>
                                    </div>
                                </div>
                                <div id="items"></div>
                                <div class="mt-3 text-center">
                                    <i class="fas fa-plus-circle text-info shadow rounded-circle fa-2x align-middle" 
                                    style='cursor:pointer' onclick='addItem()'></i> Add Child Item
                                </div>

                            </form>
                            </div>
                    </div>
                        

                </div>
                <!-- container-fluid -->

           <div id="modal" style='display: none; '>
               
           </div>
   <%-await include('footer.html')%>
   <link rel="stylesheet" href="/css/component.css">

</body>
<style>
    label {
        min-width: 150px;
    }
</style>
<script>
    let components = <%-JSON.stringify(components)%>
</script>
<script src="/admin/js/admin/component.js" ></script>

</html>