<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Manage Customer</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>
    
</head>

<body>

    <!-- Begin page -->
    
       <%-await include('header.html')%>
       <%-await include('imageLibrary.html')%>
                
                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Customers</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    <!-- start main content here-->
                    <div class="row">

                       <div class="col-md-3 bg-white" id='customers'></div>

                       <div class="col-md-9 border pb-3">
                           <form name='componentForm' onsubmit='submitCustomer(event)'>
                           <h5 class="border-bottom pb-2 text-primary text-center d-flex justify-content-around">Add Customer
                                <div>
                                    <button class="btn btn-secondary " type='reset'>
                                        <i class="fal fa-refresh"></i> Reset
                                    </button>   
                                    
                                    <button class="btn btn-primary " type='submit'>
                                        <i class="fal fa-save"></i> Save
                                    </button> 
                                </div>  
                            </h5>

                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class='input-group-text' for="name">First Name</label>
                                </div>
                                <input type="text" name="firstName" id="" class="form-control">
                                <div class="input-group-prepend">
                                    <label class='input-group-text' for="name">Last Name</label>
                                </div>
                                <input type="text" name="lastName" id="" class="form-control">
                            </div>
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class='input-group-text' for="name">Phone Number</label>
                                </div>
                                <input type="text" name="phone" id="" class="form-control">
                            </div>
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class='input-group-text' for="name">Email</label>
                                </div>
                                <input type="text" name="email" id="" class="form-control">
                            </div>
                            <%let countryList = await getCountryList()%>

                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class='input-group-text' for="name">Country</label>
                                </div>
                                <select name="country" id="country" class='form-control' onclick='loadCity()'>
                                    <option value="">Select Country</option>
                                    <%for (let country of countryList){%>
                                        <option value="<%=country.name%>"><%=country.name%></option>
                                    <%}%>
                                </select>
                                <div class="input-group-prepend">
                                    <label class='input-group-text' for="name">City</label>
                                </div>
                                <select name="city" id="city" class='form-control'>
                                    <option value="">Select City</option>
                                </select>
                            </div>
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class='input-group-text' for="name">Address Line 1</label>
                                </div>
                                <input name="address1" type='text' id="" class='form-control' ></i>
                            </div>
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class='input-group-text' for="name">Address Line 2</label>
                                </div>
                                <input name="address2" type='text' id="" class='form-control' ></i>
                            </div>
                        </div>
                                

                            </form>
                            </div>
                    </div>
                        

                </div>
                <!-- container-fluid -->

           <div id="modal" style='display: none; '>
               
           </div>
   <%-await include('footer.html')%>
   <script src="/admin/js/admin/customer.js"></script>
   <script>
       let customers = <%-JSON.stringify(customers)%>;
       listCustomer();
   </script>
   
    <style>
        label{
            min-width: 10vw !important;
        }
        .newCustomerRow{
            background-color: #818bbf;
            transition: background-color 5s linear;
        }
        .customerRow{
            background-color: #fff;
        }
        
    </style>
</body>
</html>