<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Customer Detail</title>
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    

       <%-await include('header.html')%>
       <%-await include('imageLibrary.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Customer detail</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->

                    <!-- start main content here-->
                    <div class="row">
        
                        <div class="col-md-6">
                            <div class="card m-b-20">
                                <div class="card-body">
    
                                    <h4 class="mt-0 header-title">Details 
                                        <button class="float-right btn btn-primary" id='editBtn' onclick='convertToForm()'>
                                            <i class="fal fa-edit"></i> Edit
                                        </button>
                                    </h4>
                                    <p class="sub-title"> 
                                        Click edit to change
                                    </p>

                                    <!-- *edit form -->
                                    <form action="#" onsubmit='submitCustomerUpdate(event)'>
                                        <input class='form-control' type="hidden" name="id" value=<%-customer._id.toHexString()%>>
                                        <div class="table-responsive">
                                            <table class="table table-bordered mb-0" id='mainTable'>
                                                <tbody>
                                                    
                                                    <tr>
                                                        <th scope="row">
                                                            <i class="fa fa-user"></i>
                                                        </th>
                                                        <td>Name</td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input class='form-control' type="text" name="firstName" id="" value="<%=customer.firstName%>">
                                                                <input class='form-control' type="text" name="lastName" id="" value='<%=customer.lastName%>'>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <i class="fa fa-phone"></i>
                                                        </th>
                                                        <td>Phone</td>
                                                        <td>
                                                            <input class='form-control' type="text" name="phone" id="" value='<%=customer.phone%>'>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <i class="fa fa-envelope"></i>
                                                        </th>
                                                        <td>Email</td>
                                                        <td>
                                                            <input class='form-control' type="email" name="email" id="" value='<%=customer.email%>'>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <i class="fa fa-envelope"></i>
                                                        </th>
                                                        <td>Country</td>
                                                        <td>
                                                            <input class='form-control' type="text" name="country" id="" value='<%=customer.country%>'>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <i class="fa fa-envelope"></i>
                                                        </th>
                                                        <td>Country</td>
                                                        <td>
                                                            <input class='form-control' type="text" name="city" id="" value='<%=customer.city%>'>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <i class="fa fa-map"></i>
                                                        </th>
                                                        <td>Address Line 1</td>
                                                        <td>
                                                            <textarea name="address" id="" cols="30" rows="5" class='form-control'>
                                                                <%=customer.address1%>
                                                            </textarea>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <i class="fa fa-map"></i>
                                                        </th>
                                                        <td>Address Line 2</td>
                                                        <td>
                                                            <textarea name="address" id="" cols="30" rows="5" class='form-control'>
                                                                <%=customer.address2%>
                                                            </textarea>
                                                        </td>
                                                    </tr>
                                                
                                                    
                                                </tbody>
                                            </table>
                                            <button class="btn btn-success mt-2" type='submit' id='submitBtn' style='display: none;'>Update customer</button>
                                        </div>
                                    
                                    </form>
                                <!-- end edit form -->
                            </div>
                        </div>
                        <button class="btn btn-danger mt-2 float-right" type='button' onclick="delCustomer(event)">
                            <i class="fal fa-trash-alt"></i> Delete customer
                        </button>
                        </div><!-- end col-->

                        <%let orders = await getOrderList(customer._id, {limit:500})%>
                        <div class="col-md-6 card card-body">
                            <h4 class="mt-0 header-title">Order History</h4>
                            <%if(orders.data&& orders.data.length >0){%>

                            <%}else{%>
                                <div class="text-center lead text-secondary mt-3">
                                    No orders yet
                                </div>
                            <%}%>
                        </div>

                    </div><!-- end row -->

                    <!-- end main content here-->
                </div>
                <!-- container-fluid -->

           

   <%-await include('footer.html')%>
    <script>
        let customer = <%-JSON.stringify(customer)%>
        convertToUI(customer);
    </script>
    <script src="/admin/js/admin/customer.js"></script>
</body>

</html>