<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Category Detail</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    

       <%-await include('header.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Product Delivery</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    <!-- start main content here-->
                    <div class="row">
                        <div class="col-sm-3 m-0 p-0">
                            <div class="card-body">
        
                                <h4 class="mt-0 header-title">Region List</h4>
                                
                                
                                <div class="table-responsive">
                                    <table class="table table-striped mb-0">
                                        
                                        <tbody>
                                            <%for(x of regions){%>
                                            <tr>
                                                <td scope="row">
                                                    
                                                    <button class="float-right btn btn-outline-danger btn-sm m-1" onclick="delRegion('<%-x._id%>')">
                                                        <i class="fal fa-trash-alt"></i>
                                                    </button>
                                                    <button class="float-right btn btn-outline-primary btn-sm m-1" onclick='editRegion("<%-x._id%>")'>
                                                        <i class="fal fa-edit"></i>
                                                    </button>

                                                    <b><%= x.name%></b>
                                                    <div class='text-secondary'>
                                                        <div class="">
                                                            <%-x.pickUpLocation || 'N/A'%>
                                                        </span>
                                                        <div class="">
                                                            <i class="fal fa-stopwatch">
                                                            </i>
                                                            <%-x.time || 'N/A'%>
                                                        </span>
                                                    </div>
                                                </td>
                                                
                                            </tr>
                                            <%}%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <form method='post' name='regionForm' onsubmit="submitDelivery(event)">
                                <h5 class="text-primary">
                                    Add delivery region
                                </h5>
                                <input type="hidden" name="regionId" id='regionId' value=''>
                                
                                <div class="form-group">
                                    <label for="">Region Name</label>
                                    <input type="text" name="name" id=" " class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="">Pick up location</label>
                                    <input type="text" name="pickUpLocation" placeholder="home delivery / address" class="form-control">
                                </div>

                                <%let countries = await getCountryList();%>

                                <div class="form-group">
                                    <label>Coverage Country</label>
                                    <select name="countryName" id="" class="form-control" onchange="loadCities(event)" onclick="loadCities(event)">
                                        <option value="">Select Country</option>
                                        <%for (let country of countries){%>
                                            <option value="<%=country.name%>">
                                                <%=country.name%> 
                                            </option>
                                        <%}%>
                                    </select>
                                </div>
                                
                                <label for="">Coverage City</label>
                                <button class="btn ml-5" type='button' onclick='selectAllCity()'>Select All</button>
                                <div id="" style='max-height:50vh; overflow-y:scroll; scrollbar-width: thin;' class='mt-2 form-group'>
                                    <ul id="exception" style='column-count: 4; column-gap: 10px; list-style-type: none;'>
                                        <span class="text-secondary">
                                            Select Country

                                        </span>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <label for="">Delivery Time</label>
                                    <input type="text" name="time" id="" class="form-control" placeholder="24 hours">
                                </div>

                                <div class="form-group">
                                    <label for="">Delivery Charge</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                Minimum Order
                                            </div>
                                        </div>
                                        <input type="number" placeholder="500" id="amount" class='form-control'>
                                        <div class="input-group-text">
                                            Charge
                                        </div>
                                        <input type="number" placeholder="60" id="charge" class='form-control'>
                                        <div class="input-group-append">
                                            <button type='button' onclick="addCharge()"
                                             class="input-group-text btn btn-primary">
                                                <i class="fal fa-check"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="chargeDisplay">
                                    <table class="table" id="chargeTable">
                                        <tr>
                                            <th>Minimum Order</th>
                                            <th>Delivery Charge</th>
                                            <th></th>
                                        </tr>
                                        
                                    </table>
                                </div>

                                <button class="mt-2 btn btn-success" type='submit'>Submit</button>
                                <button class="btn-secondary btn mt-2" type='reset'>Reset</button>

                            </form>
                        </div>
                    </div><!-- end row -->
                        
                      

                    <!-- end main content here-->
                </div>
                <!-- container-fluid -->

           

   <%-await include('footer.html')%>

</body>
<script>
    let regionList = <%-JSON.stringify(regions)%>
</script>
<script src='/admin/js/admin/delivery.js'></script>

</html>