<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Alpha - Sent Email</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    

       <%-await include('header.html')%>
        <%-await include('error.html')%>


                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Sent Mail</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                            
                        </div>
                        <%- await include('pagination.html', {page:emails.page, pageName:'email/sent'})%>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    
                    <!-- start main content here-->
                        <div class="container-fluid">
                            <table class='table'>
                                <tr>
                                    <th>Date</th>
                                    <th>Subject</th>
                                    <th>Recipient</th>
                                    <th>Event</th>
                                </tr>                            
                            <%for (mail of emails.data){%>
                                
                                <tr>
                                    <td>
                                        <%let time = new Date(mail.time)%>
                                        <%=time.getDate() + '/' + time.getMonth() + '/' + time.getFullYear()+' ' + time.getHours() + ':'+ time.getMinutes() +":"+time.getSeconds() %>
                                    </td>
                                    <td>
                                        <a href="/admin/email/sent/<%-mail._id%>">
                                            <b><%=mail.subject%></b>
                                        </a>

                                    </td>
                                    <td>
                                        <%=mail.recipient%>
                                    </td>
                                    <td>
                                        <%=mail.event%>
                                    </td>
                                </tr>
                            <%}%>
                        </table>

                        </div>
                        <%- await include('pagination.html', {page:emails.page, pageName:'email/sent'})%>

                    <!-- end main content here-->
                </div>
                <!-- container-fluid -->

           

   <%-await include('footer.html')%>

</body>

</html>