<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Alpha - Email Settings</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    <%-await include('header.html')%>
    <%-await include('error.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Sent Email </h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    <!-- start main content from here  -->

                    <div class="row">
                        <div class="col-12">
                            <div >
                                <span class="text-primary">Recipients:</span>
                                <span class="text-dark"><%=email.recipient%></span>
                            </div>
                            <%if(email.cc){%>
                                <div >
                                    <span class="text-dark">Cc:</span>
                                    <span class="text-secondary"><%=email.cc%></span>
                                </div>
                            <%}%>
                            <%if(email.bcc){%>
                                <div >
                                    <span class="text-dark">Bcc:</span>
                                    <span class="text-secondary"><%=email.bcc%></span>
                                </div>
                            <%}%>
                            <div >
                                <span class="text-primary">Date:</span>
                                <span class="text-dark"><%=email.time%></span>
                            </div>
                            <div >
                                <span class="text-primary">Event:</span>
                                <span class="text-dark"><%=email.event%></span>
                            </div>
                            <div class='mt-5 row'>
                                <div class="col-sm-8">
                                    <big>
                                        <span class="text-primary">Subject:</span>
                                        <span class="text-dark"><%=email.subject%></span>
                                    </big>

                                </div>
                                <div class="col-sm-4 justify-content-end d-flex">
                                    <button class="btn text-danger" onclick="deleteEmail('<%-email._id%>')">
                                        <i class="fal fa-trash"></i> Delete
                                    </button>
                                </div>
                            </div>
                            <div class='mt-2 p-2'  style='background-color:#fff;'>
                                <%-email.html%>
                            </div>
                        </div>
                    </div> <!-- end row -->      
                    <!--end main content here-->
                </div>
                <!-- container-fluid -->

    <%-await include('footer.html')%>
         
</body>
<script src="/admin/js/admin/email.js"></script>

</html>