<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Alpha - Compose Email</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    
    <%-await include('header.html')%>
    <%-await include('imageLibrary.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Compose Email </h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    <!-- start main content from here  -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <form action="#" method='post' onsubmit="sendEmail(event)" class=''>
                                    
                                    <div class="form-group">
                                        <label for="" class="form-label">Mail To</label>
                                        <div class="text-secondary">
                                            separate multiple receiver with (,) comma
                                        </div>
                                        <input type="text" name="recipient" class="form-control">
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    Cc:
                                                </div>
                                            </div>
                                            <input type="text" name="cc" class="form-control">
                                            
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    Bcc:
                                                </div>
                                            </div>
                                            <input type="text" name="bcc" class="form-control">
    
                                        </div>
                                    </div>   
                                        
                                    <div class="form-group">
                                        <label for="">Subject</label>
                                        <input type="text" name="subject" class="form-control">
                                    </div>
                                    
                                    <label for="">Message</label>
                                    <div class="form-group border ">
                                        <div id="toolbar-container"></div>
                                        <div name="body"  id='body' style='min-height:30vh'></div>
                                    </div>
                                    

                                    <button type='submit' class="btn btn-success">
                                        <i class="fal fa-paper-plane"></i>
                                        Send Mail
                                    </button>
                                    <button type='reset' class="btn btn-secondary">
                                        <i class="fa fa-refresh"></i>
                                        Reset Form
                                    </button>
                                    </form>
                                    
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->      
                    <!--end main content here-->
                </div>
                <!-- container-fluid -->

    <%-await include('footer.html')%>
         
</body>
<script src="/admin/js/admin/email.js"></script>
<script src="/admin/js/plugins/ckeditor/build/ckeditor.js"></script>
<script src="/admin/js/admin/editor.js"></script>

<script>
    let editor;
    createEditor(document.querySelector('#body')).then(edtr=>{
        editor = edtr;
    });
</script>
</html>