<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Alpha - Email Settings</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    
    <%-await include('header.html')%>
    <%-await include('imageLibrary.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Email Setting </h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    <!-- start main content from here  -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <form action="#" method='post' onsubmit="submitEmailSettings(event)" class=''>
                                    <h4 class="mt-0 header-title">Email Settings</h4>
                                    <hr>   
                                     
                                    <div class="form-group row">
                                        <label for="" class="col-md-2 col-12 form-label">
                                            From Email
                                        </label>
                                        <div class="col-sm-10 col-12">
                                            <input class='form-control' type="text" name="fromEmail" value='<%-email.fromEmail%>' id="">
                                            <span class="text-secondary">Email address to display in email</span>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="" class="col-md-2 col-12 form-label">
                                            From Name
                                        </label>
                                        <div class="col-sm-10 col-12">
                                            <input class='form-control' type="text" name="fromName" value='<%-email.fromName%>' id="">
                                            <span class="text-secondary">Sender Name to display in email</span>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>

                                    <p>
                                        <h6 class='text-secondary mt-5  '>SMTP Settings</h6>
                                        
                                    </p>
                                    <hr>

                                    
                                    <div class="form-group mt-2 row" name='encryption'>
                                        <label for="" class=" col-md-2 col-12 form-label">
                                            Encryption Type
                                        </label>
                                        <div class="col-sm-10 col-12" >

                                            <div class="form-check-inline">
                                                <label for="" class=" form check-label">
                                                    <input type="radio" name="encryption" id="" value="SSL" class="form-check-input">
                                                    SSL
                                                </label>
                                            </div>
                                        
                                            <div class="form-check-inline">
                                                <label for="" class="form check-label">
                                                    <input type="radio" name="encryption" checked="checked" selected value="TLS" class="form-check-input">
                                                    TLS
                                                </label>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        
                                        <div class="form-group col-sm-6">
                                            <label for="" class=" form-label">SMTP Host</label>
                                            <div class="col-sm-10 col-12">
                                                <input class='form-control' type="text" name="host" value='<%-email.host%>' id="">
                                                <span class="text-secondary">SMTP server host</span>
                                                <div class="invalid-feedback"></div>
                                            </div>
                                        </div>
                                      
                                        <div class="form-group col-sm-6">
                                            <label for="example-text-number" class=" form-label">SMTP port</label>
                                            <div class="col-sm-10 col-12">
                                                <input class='form-control' type="number" name="port" value='<%-email.port%>' id="">
                                                <span class="text-secondary">SMTP server port</span>
                                                <div class="invalid-feedback"></div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-check mt-5">
                                        <label for="" class=" form check-label">
                                            <input type="checkbox" name="authentication" checked="checked" id="" class="form-check-input">
                                            SMTP server requires authentication
                                        </label>
                                    </div>


                                    <div class="row mt-3 mb-5">
                                        
                                        <div class="form-group col-sm-6">
                                            <label for="" class=" form-label">SMTP Username</label>
                                            <div class="col-sm-10 col-12">
                                                <input class='form-control' type="text" name="smtpUsername" value='<%-email.smtpUsername%>' id="">
                                                <span class="text-secondary">email account to send mail from </span>
                                                <div class="invalid-feedback"></div>
                                            </div>
                                        </div>
                                      
                                        <div class="form-group col-sm-6">
                                            <label for="example-text-number" class=" form-label">Password</label>
                                            <div class="col-sm-10 col-12">
                                                <input class='form-control' type="password" name="smtpPassword" value='<%-email.smtpPassword%>' id="">
                                                <span class="text-secondary">email account password</span>
                                                <div class="invalid-feedback"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <button type='submit' class="btn btn-success">
                                        <i class="fal fa-check"></i>
                                        Update Settings
                                    </button>
                                    <button type='reset' class="btn btn-secondary">
                                        <i class="fa fa-refresh"></i>
                                        Reset Form
                                    </button>
                                    </form>
                                    
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->      
                    <!--end main content here-->
                </div>
                <!-- container-fluid -->

    <%-await include('footer.html')%>
         
</body>
<script src="/admin/js/admin/email.js"></script>

</html>