<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Alpha - Auto Email</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    
    <%-await include('header.html')%>
    <%-await include('imageLibrary.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Configure Auto Email </h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    <!-- start main content from here  -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <form action="#" method='post' onsubmit="submitAutoConfig(event)" class=''>
                                    
                                        <label for="">Send email on events:</label>

                                        <div class="form-group mt-3">
                                            <div class="form-check-inline text-primary col-sm-3">
                                                <label for="" class=''>
                                                    New Customer Registration
                                                </label>
                                            </div>

                                            <div class="form-check-inline">
                                                <label for="" class="form-check-label">
                                                    <input type="checkbox" name="newCustomerAdmin" id="" class="form-check-input"
                                                    <%=config.newCustomerAdmin? "checked": ''%>>
                                                    Admin
                                                </label>
                                            </div>

                                            <div class="form-check-inline">
                                                <label for="" class="form-check-label">
                                                    <input type="checkbox" name="newCustomerCustomer" id="" class="form-check-input"
                                                    <%=config.newCustomerCustomer? "checked": ''%>>
                                                    customer
                                                </label>
                                            </div>

                                            <div class="form-check-inline">
                                                <button type="button" class="btn">
                                                    <i class="fal fa-edit"> </i>
                                                    <a href="/admin/email/auto/configure?event=newCustomer">Customize</a>
                                                </button>
                                            </div>

                                        </div>

                                        <div class="form-group mt-3">
                                            <div class="form-check-inline text-primary col-sm-3">
                                                <label for="">
                                                    New Order
                                                </label>
                                            </div>

                                            <div class="form-check-inline">
                                                <label for="" class="form-check-label">
                                                    <input type="checkbox" name="orderAdmin" id="" class="form-check-input"
                                                    <%=config.orderAdmin? "checked": ''%>>
                                                    Admin
                                                </label>
                                            </div>

                                            <div class="form-check-inline">
                                                <label for="" class="form-check-label">
                                                    <input type="checkbox" name="orderCustomer" id="" class="form-check-input"
                                                    <%=config.orderCustomer? "checked": ''%>>
                                                    customer
                                                </label>
                                            </div>

                                            
                                            <div class="form-check-inline">
                                                <button type="button" class="btn">
                                                    <i class="fal fa-edit"> </i>
                                                    <a href="/admin/email/auto/configure?event=order">Customize</a>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="form-group mt-3">
                                            <div class="form-check-inline text-primary col-sm-3">
                                                <label for="">
                                                    Order Status Change
                                                </label>
                                            </div>
                                            <div class="form-check-inline">
                                                <label for="" class="form-check-label">
                                                    <input type="checkbox" name="orderStatusAdmin" id="" class="form-check-input"
                                                    <%=config.orderStatusAdmin? "checked": ''%>>
                                                    Admin
                                                </label>
                                            </div>

                                            <div class="form-check-inline">
                                                <label for="" class="form-check-label">
                                                    <input type="checkbox" name="orderStatusCustomer" id="" class="form-check-input"
                                                    <%=config.orderStatusCustomer? "checked": ''%>>
                                                    customer
                                                </label>
                                            </div>

                                            <div class="form-check-inline">
                                                <button type="button" class="btn">
                                                    <i class="fal fa-edit"> </i>
                                                    <a href="/admin/email/auto/configure?event=orderStatus" class=''>Customize</a>
                                                </button>
                                            </div>

                                        </div>


                                        <button type='submit' class="btn btn-success">
                                            <i class="fal fa-save"></i>
                                            Save
                                        </button>
                                        <button type='reset' class="btn btn-secondary">
                                            <i class="fa fa-refresh"></i>
                                            Reset Form
                                        </button>
                                    </form>
                                    
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->      
                    <!--end main content here-->
                </div>
                <!-- container-fluid -->

    <%-await include('footer.html')%>
         
</body>
<script src="/admin/js/admin/email.js"></script>

</html>