<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Alpha - Auto Email Template</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    
    <%-await include('header.html')%>
    <%-await include('imageLibrary.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title"> <%=event%> - Email Template</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    <!-- start main content from here  -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <form action="#" method='post' onsubmit="submitTemplate(event)" class=''>
                                        <input type="hidden" name="event" value='<%=event%>'>
                                    
                                        <h3 class="header-title mb-2">Customer Email</h3>


                                        <div class="form-group">
                                            <label for="">Subject</label>
                                            <input type="text" name="customerSubject" class="form-control" value="<%=template.customerSubject%>">
                                        </div>
                                        
                                        <label for="">Message</label>
                                        <div class="form-group border ">
                                            <div id="customerToolbar"></div>
                                            <div name="body"  id='customerBody' style='min-height:30vh'></div>
                                        </div>
                                        
                                        <h3 class="header-title mt-5 mb-2">Admin Email</h3>

                                        <div class="form-group">
                                            <label for="">Subject</label>
                                            <input type="text" name="adminSubject" class="form-control" value="<%=template.adminSubject%>">
                                        </div>
                                        
                                        <label for="">Message</label>
                                        <div class="form-group border ">
                                            <div id="adminToolbar"></div>
                                            <div name="body"  id='adminBody' style='min-height:30vh'></div>
                                        </div>
                                        

                                        <button type='submit' class="btn btn-success">
                                            <i class="fal fa-save"></i>
                                            Save
                                        </button>
                                        <button type='reset' class="btn btn-secondary">
                                            <i class="fa fa-refresh"></i>
                                            Reset Form
                                        </button>
                                    </form>
                                    
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->      
                    <!--end main content here-->
                </div>
                <!-- container-fluid -->

    <%-await include('footer.html')%>
         
</body>
<script src="/admin/js/admin/email.js"></script>
<script src="/admin/js/plugins/ckeditor/build/ckeditor.js"></script>
<script src="/admin/js/admin/editor.js"></script>

<script>
    let customerEditor;
    createEditor(document.querySelector('#customerBody'), document.querySelector('#customerToolbar')).then(editor=>{
        customerEditor = editor;

        //set existing customer body
        const viewFragment = customerEditor.data.processor.toView( `<%-template.customerBody%>` );
        const modelFragment = customerEditor.data.toModel( viewFragment );
        customerEditor.model.insertContent( modelFragment, customerEditor.model.document.selection );

    });
    let adminEditor;
    createEditor(document.querySelector('#adminBody'), document.querySelector('#adminToolbar')).then(editor=>{
        adminEditor = editor;
        //set existing admin body
        const viewFragment = adminEditor.data.processor.toView( `<%-template.adminBody%>` );
        const modelFragment = adminEditor.data.toModel( viewFragment );
        adminEditor.model.insertContent( modelFragment, adminEditor.model.document.selection );

    });

    
    
</script>
</html>