  <!-- jQuery  -->
  <script src="/admin/js/jquery.min.js"></script>
  <script src="/admin/js/bootstrap.bundle.min.js"></script>
  <script src="/admin/js/metisMenu.min.js"></script>
  <script src="/admin/js/jquery.slimscroll.js"></script>
  <script src="/admin/js/waves.min.js"></script>


  <!-- App js -->
  
  <script src="/admin/js/app.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.js" ></script>
  <script src="/admin/js/admin/adminValidator.js"></script>
  <script src="/admin/js/admin/admin.js"></script>

  
<!--alertify -->
<script src="/admin/plugins/alertify/alertify.js" ></script>
<link rel="stylesheet" href="/admin/plugins/alertify/css/alertify.min.css" />
<link rel="stylesheet" href="/admin/plugins/alertify/css/themes/semantic.min.css" />
</body>
</html>