</div>
<!-- content -->
<%-await include('error.html')%>
<footer class="footer">
    © 2019 The Alpha E-commerce Engine <span class="d-none d-sm-inline-block"> - Developed By 

        <a href="http://lotustech.dev">Lotus Technology Development</a>
    </span>.
</footer>

</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->

</div>
<!-- END wrapper -->

<!-- jQuery  -->
    <script src="/admin/js/jquery.min.js"></script>
    <script src="/admin/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/js/metismenu.min.js"></script>
    <script src="/admin/js/jquery.slimscroll.js"></script>
    <script src="/admin/js/waves.min.js"></script>

    <!--
    <script src="/plugins/morris/morris.min.js"></script>
    <script src="/plugins/raphael/raphael.min.js"></script> 
    
    
    <script src="/pages/dashboard.init.js"></script>-->

    <!-- App js -->
    <!-- --><script src="/admin/js/app.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.js" ></script>
    <script src="/admin/js/admin/adminValidator.js" ></script>
    
    <script src="/admin/js/admin/admin.js" ></script>
    <script src="/admin/js/admin/spinner.js" ></script>
    <link rel="stylesheet" href="/admin/css/spinner.css">


    <!--alertify -->
    <script src="/admin/plugins/alertify/alertify.js" ></script>
    <link rel="stylesheet" href="/admin/plugins/alertify/css/alertify.min.css" />
    <link rel="stylesheet" href="/admin/plugins/alertify/css/themes/semantic.min.css" />