
 <div id="wrapper">
 <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="/" class="logo">
                    Alpha 0.1
                </a>
            </div>

            <nav class="navbar-custom">
                <ul class="navbar-right list-inline float-right mb-0">


                    <!-- full screen -->
                    <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                        <a class="nav-link waves-effect" href="#" id="btn-fullscreen">
                            <i class="mdi mdi-arrow-expand-all noti-icon"></i>
                        </a>
                    </li>

                    <!-- notification -->
                    <li class="dropdown notification-list list-inline-item">
                        <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="mdi mdi-bell-outline noti-icon"></i>
                            <span class="badge badge-pill badge-danger noti-icon-badge"><%=notifications.length%></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-menu-lg px-1">
                            <!-- item-->
                            <h6 class="dropdown-item-text">
                                    Notifications
                                </h6>
                            <div class="slimscroll notification-item-list">

                            <%for(let notification of notifications){
                                let icon, color ;
                                if(notification.type == 'order'){
                                    icon = 'fa-shopping-cart';
                                    color = 'success'
                                }else if(notification.type == 'customer'){
                                    icon = 'fa-user';
                                    color = 'info'
                                }else if(notification.type == 'stock'){
                                    icon = 'fa-exclamation-triangle';
                                    color = 'warning'
                                }
                            %>

                                <!-- item-->
                                <a href="<%=notification.link%>?ref=notification" class="dropdown-item notify-item active border mt-1">
                                    <div class="notify-icon bg-<%=color%>"><i class="fal <%=icon%>"></i></div>
                                    <p class="notify-details">
                                        <b><%=notification.heading%></b>
                                        <span class="text-muted"><%=notification.text%></span>
                                    </p>
                                </a>
                            <%}%>
                            <!-- All-->
                            <a href="javascript:void(0);" style='position:absolute; bottom:0' class="dropdown-item text-center notify-all text-primary">
                                    View all <i class="fi-arrow-right"></i>
                            </a>
                        </div>
                    </li>

                    <li class="dropdown notification-list list-inline-item">
                        <div class="dropdown notification-list nav-pro-img">
                            <a class="dropdown-toggle nav-link arrow-none nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <img src="/admin/images/users/user-4.jpg" alt="user" class="rounded-circle">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                <!-- item-->
                                <a class="dropdown-item" href="#"><i class="mdi mdi-account-circle"></i> Profile</a>
                                <a class="dropdown-item d-block" href="/admin/settings"><i class="mdi mdi-settings"></i> Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="/admin/auth/logout"><i class="mdi mdi-power text-danger"></i> Logout</a>
                            </div>
                        </div>
                    </li>

                </ul>

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left waves-effect">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </li>
                    <li class="d-none d-md-inline-block">
                        <form role="search" class="app-search" action='/admin/search' method='get'>
                            <div class="form-group mb-0">
                                <input type="text" name='query' class="form-control" placeholder="Search..">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </li>
                </ul>

            </nav>

        </div>
        <!-- Top Bar End -->

        
       <%-await include('sidebar.html')%>