<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Alpha </title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    

       <%-await include('header.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Image Settings</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    <!-- === =====================start main content here-->

                    <div class="row">
                        <div class="col-md-6">
                            <big class=' text-primary'>Image Sizes</big>
                            <div class="text-secondary">
                                Leave Blank for auto
                            </div>
                            <form onsubmit = 'submitImageSizes(event)'>
                                    <div class="form-group mt-2">
                                        <label for="">Full:</label>
                                        <div class="input-group">
                                            <span class="input-group-text">
                                                Width
                                            </span>
                                            <input type="text" name="fullWidth" id="" class="form-control" value='<%=sizes.full && sizes.full.width%>'>
                                            <span class="input-group-text">
                                                Height
                                            </span>
                                            <input type="text" name="fullHeight" id="" class="form-control" value='<%= sizes.full && sizes.full.height%>'>

                                        </div>
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="">Medium:</label>
                                        <div class="input-group">
                                            <span class="input-group-text">
                                                Width
                                            </span>
                                            <input type="text" name="mediumWidth" id="" class="form-control" value='<%=sizes.medium && sizes.medium.width%>'>
                                            <span class="input-group-text">
                                                Height
                                            </span>
                                            <input type="text" name="mediumHeight" id="" class="form-control" value='<%= sizes.medium && sizes.medium.height%>'>

                                        </div>
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="">Thumbnail:</label>
                                        <div class="input-group">
                                            <span class="input-group-text">
                                                Width
                                            </span>
                                            <input type="text" name="thumbnailWidth" id="" class="form-control" value='<%=sizes.thumbnail && sizes.thumbnail.width%>'>
                                            <span class="input-group-text">
                                                Height
                                            </span>
                                            <input type="text" name="thumbnailHeight" id="" class="form-control" value='<%=sizes.thumbnail && sizes.thumbnail.height%>'>

                                        </div>
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="">Icon:</label>
                                        <div class="input-group">
                                            <span class="input-group-text">
                                                Width
                                            </span>
                                            <input type="text" name="iconWidth" id="" class="form-control" value='<%=sizes.icon && sizes.icon.width%>'>
                                            <span class="input-group-text">
                                                Height
                                            </span>
                                            <input type="text" name="iconHeight" id="" class="form-control" value='<%=sizes.icon && sizes.icon.height%>'>

                                        </div>
                                    </div>
                                    <button class="btn btn-primary">
                                        Update
                                    </button>
                                    
                                    
                                </div>
                                
                            </form>
                            </div>
                        </div>
                    </div>

                    
                    <!-- ================ ==================== ================end main content here-->
                </div>
                <!-- container-fluid -->

           

   <%-await include('footer.html')%>

</body>
<script>
    async function submitImageSizes(ev){
        ev.preventDefault();
        let spinner = showSpinner();//show spinner and store return 

        
        let res = await fetch(`/admin/image/update/size`, {
            method:'post',
            body:new FormData(ev.target),
            credentials: 'include',
        })
        let obj = await res.json();

        removeSpinner(spinner);//remove spinner
        
        if(res.ok){
            showMsg(obj.msg);
            location.reload();
        }else{
            showErrors(obj);
        }
    }
</script>
</html>