<script src='/admin/js/admin/imageLibrary.js'></script>
<link rel="stylesheet" href="/admin/css/imageLibrary.css">

<div class="libraryContainer" id='libraryContainer'>
    <div class="row library bg-light border border-primary">
        <div class="viewer col-md-9" >
            <h5 class="text-dark text-center d-flex ">
                <span class='d-block col-10 text-center'>
                    <i class="fal fa-images"></i>
                    Image Library
                </span>

                <button class=" done btn text-success btn-lg col-2" onclick='imgLib.doneSelecting()'>
                    
                </button>

            </h5>
            <div id="viewer">
                <div class="text-dark text-center m-5">
                    <i class="fas fa-spinner fa-spin"></i>
                    Loading Images
                </div>
            </div>
        </div>

        <!-- upload form -->
        <div class="uploadContainer col-md-9 bg-light d-none pb-5 shadow-sm" id='uploadContainer'>
            <form action="/admin/api/image/add" method='post' onsubmit='imgLib.uploadImage(event)'>
                <h5 class="text-primary text-center">
                    <button class="btn btn-outline-dark border-0 float-left" type='button' onclick='imgLib.hideUploadForm()'>
                        <i class="fal fa-arrow-left"></i>
                        Back To library
                    </button>
                    Upload Image
                </h5>
                <div class="form-group mt-4">
                    <label for="">Select Image</label>
                    <input type="file" class='form-control' name="images" id="" multiple>
                </div>
                <button class="btn btn-success" type='submit'>
                    <i class="fas fa-cloud-upload"></i> Upload
                </button>
            </form>
        </div><!-- /upload form-->

        <!-- image editor -->
        <div id="image-editor" class='col-12 bg-dark'></div>

        <div class="sideBar col-md-3 border-left p-0 ">
            <div class="action-bar border-bottom p-1 d-flex justify-content-between">
                <button class="btn btn-primary d-block" onclick='imgLib.showUploadForm()'>
                    <i class="fal fa-plus"></i>
                    Add Image
                </button>
                <i class="fal fa-times-circle fa-lg text-danger d-block" style='align-self: center; cursor:pointer' onclick="imgLib.closeImageLibrary()"></i>
            </div>
            <div class="detailView" id="detailView">
                <div class="text-dark text-center mt-5 p-1" id='previewMsg'>
                    Select an image to preview details
                </div>
                <div class="imageEditForm p-1 d-none" id='imageEditForm' >
                    
                </div>
            </div>
        </div>

    </div>
</div>