<%- include headerRoot.html  %>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="wrapper-page ">
    <div class="card card-pages shadow-none">

        <div class="card-body">
            
            <div class="text-center">
                <i class="fa fa-key fa-3x fa-spin"></i>
            </div>
            <h5 class="font-18 text-center">Admin Sign In</h5>

            <form class="form-horizontal m-t-30" method='post' onsubmit="submitLogin(event)">

                <div class="form-group">
                    <div class="col-12">
                            <i class="fa fa-user fa-2x form-icon"></i>
                            <label>Username</label>
                        <input class="form-control" type="text" required="" name='username' placeholder="Phone or Email">
                        <div class="invalid-feedback"></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-12">
                        

                        <i class="fa fa-lock fa-2x form-icon"></i>
                        <label>Password</label>
                        <input class="form-control" type="password" name='password' required="" placeholder="Password">
                        <div class="invalid-feedback"></div>
                    </div>
                </div>

                <div class="form-group text-center m-t-20">
                    <div class="col-12">
                        <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit">Log In</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<script src='/admin/js/admin/spinner.js'></script>
<link rel="stylesheet" href="/admin/css/spinner.css">
        <% include footerRoot.html  %>


<style>
    .form-icon{
        display: inline-block;
        padding: 5px;
        margin-right: 10px;
        vertical-align: bottom;
    }
</style>