<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Category Detail</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    

       <%-await include('header.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Orders</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <%- await include('pagination.html', {page:orders.page, pageName:'order/list', param:'status='+status})%>
                        <div class="mt-1 mb-1">
                            Status :
                            <a class="mr-2" href="/admin/order/list?page=<%=page.current%>&limit=<%=limit%>">All</a>
                            <a class="mr-2" href="/admin/order/list?page=<%=page.current%>&limit=<%=limit%>&status=Pending">Pending</a>
                            <a class="mr-2" href="/admin/order/list?page=<%=page.current%>&limit=<%=limit%>&status=Completed">Completed</a>
                            <a class="mr-2" href="/admin/order/list?page=<%=page.current%>&limit=<%=limit%>&status=On hold">On hold</a>
                            <a class="mr-2" href="/admin/order/list?page=<%=page.current%>&limit=<%=limit%>&status=Cancelled">Cancelled</a>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    <!-- start main content here-->
                    <div class="row">


                        <div class="col-md-12">
                            <div class="card m-b-30">
                                <div class="card-body">
        
                                    <h4 class="mt-0 header-title">Order List</h4>
                                    
                                    
                                    <div class="table-responsive">
                                        <table class="table table-striped mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Customer</th>
                                                    <th>Order Date</th>
                                                    <th>Items</th>
                                                    <th>Price</th>
                                                    <th>Delivery</th>
                                                    <th>Status </th>
                                                    <th>Detail</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <%for(x of orders.data){%>
                                                <tr>
                                                    <td scope="row">
                                                        <b><%= x.customer && x.customer.firstName%></b> 
                                                        <b><%= x.customer && x.customer.lastName%></b> 
                                                    </td>
                                                    <td><%=x.date.toString().split('GMT')[0]%></td>
                                                    
                                                    <td>
                                                        <small>
                                                            <%=x.products.length%>
                                                        </small>
                                                    </td>
                                                    <td class='text-success'> ৳ <%=x.totalPrice%></td>
                                                    <td><%=x.deliveryRegion && x.deliveryRegion.name%></td>
                                                    <td><%=x.status%></td>
                                                    <td>
                                                        <a href='/admin/order/view/<%-x._id%>' class="btn btn-outline-primary">
                                                            <i class="far fa-eye"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                
                                                <%}%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col -->

                                </form>
                                    <!-- end edit form -->
                                </div>
                            </div>

                        </div><!-- end col-->

                    </div><!-- end row -->
                        
                      

                    <!-- end main content here-->
                </div>
                <!-- container-fluid -->

           

   <%-await include('footer.html')%>

   <script>
       let list = <%-JSON.stringify(orders)%>
   </script>
</body>

</html>