<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Order Detail</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    
<div id="page">
       <%-await include('header.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Order &rsaquo; detail</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->

                    <!-- start main content here-->
                    <div class="row">
                            <div class="col">
                                <div style='' class="card m-b-20">
                                    <table class="table" style='white-space:normal !important'>

                                        <tr>
                                            <th>Order Id:</th>
                                            <td colspan="2"><%=order._id%></td>
                                        </tr>
                                        

                                        <tr>
                                            <th>Customer:</th>
                                            <td colspan="2"><a href="/admin/customer/view/<%=order.customer &&  order.customer._id%>">
                                                <%=order.customer && order.customer.firstName%> <%=order.customer && order.customer.lastName%>
                                            </a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th rowspan="8" class='border border-dark'>Shipping Address:</th>
                                            <td colspan="2" class='border-top border-dark'></td>
                                        </tr>
                                        <tr>
                                            <td>Name:</td>
                                            <td><%=order.shippingAddress.firstName%><%=order.shippingAddress.lastName%></td>
                                        </tr>
                                        <tr>
                                            <td>Phone:</td>
                                            <td><%=order.shippingAddress.phone%></td>
                                        </tr>
                                        <tr>
                                            <td>email:</td>
                                            <td><%=order.shippingAddress.email%></td>
                                        </tr>
                                        <tr>
                                            <td>country:</td>
                                            <td><%=order.shippingAddress.country%></td>
                                        </tr>
                                        <tr>
                                            <td>city:</td>
                                            <td><%=order.shippingAddress.city%></td>
                                        </tr>
                                        <tr>
                                            <td>Address Line 1:</td>
                                            <td><%=order.shippingAddress.address1%></td>
                                        </tr>
                                        <tr>
                                            <td>Address Line 2:</td>
                                            <td><%=order.shippingAddress.address2%></td>
                                        </tr>



                                        <tr>
                                            <th rowspan="8" class='border border-dark'>Billing Address:</th>
                                            <td colspan="2" class='border-top border-dark'></td>
                                        </tr>
                                        <tr>
                                            <td>Name:</td>
                                            <td><%=order.billingAddress.firstName%><%=order.billingAddress.lastName%></td>
                                        </tr>
                                        <tr>
                                            <td>Phone:</td>
                                            <td><%=order.billingAddress.phone%></td>
                                        </tr>
                                        <tr>
                                            <td>email:</td>
                                            <td><%=order.billingAddress.email%></td>
                                        </tr>
                                        <tr>
                                            <td>country:</td>
                                            <td><%=order.billingAddress.country%></td>
                                        </tr>
                                        <tr>
                                            <td>city:</td>
                                            <td><%=order.billingAddress.city%></td>
                                        </tr>
                                        <tr>
                                            <td>Address Line 1:</td>
                                            <td><%=order.billingAddress.address1%></td>
                                        </tr>
                                        <tr>
                                            <td>Address Line 2:</td>
                                            <td><%=order.billingAddress.address2%></td>
                                        </tr>

                                        <tr>
                                            <th rowspan="4" class='border border-dark'>Payment:</th>
                                            <td colspan="2" class='border-top border-dark'></td>
                                        </tr>
                                        <tr>
                                            <td>Payment Method:</td>
                                            <td><%=order.payment.paymentMethod%></td>
                                        </tr>
                                        <tr>
                                            <td>Payment Id/ Transaction Id:</td>
                                            <td><%=order.payment.transactionId%></td>
                                        </tr>
                                        <tr>
                                            <td>Payment Account Number:</td>
                                            <td><%=order.payment.paymentAccountNumber%></td>
                                        </tr>
                                       
                                        <tr>
                                            <td>Delivery Region:</td>
                                            <td><%=order.deliveryRegion.name%></td>
                                        </tr>

                                        <tr>
                                            <th>Ordered On:</th>
                                            <td><%=order.date%></td>
                                        </tr>
                                        <tr>
                                            <th>Total Price:</th>
                                            <td class=''>৳ <%=order.totalPrice%> /=</td>
                                        </tr>
                                        <tr>
                                            <th>Delivery Charge:</th>
                                            <td class=''>৳ <%=order.deliveryCharge%> /=</td>
                                        </tr>
                                        <tr>
                                            <th>Total Amount:</th>
                                            <td class='lead'>৳ <%= +order.totalPrice + +order.deliveryCharge%> /=</td>
                                        </tr>

                                    </table>

                                    <h5 class="mt-3">Products</h5>
                                    <%for(let product of order.products){%>
                                    <div class="border p-1 row m-0">
                                        <div class="col-3 col-sm-2 ">
                                            <img src="<%-product.cover && product.cover.icon%>" alt=" deleted or unavailable" class="img-thumbnail img-fluid">
                                        </div>
                                        <div class="col">
                                            <div>
                                                <a href="/admin/product/view/<%-product._id%>"><%=product.name%></a>
                                            </div>
                                            <div>
                                                <span class="text-dark">Quantity:</span>
                                                <span class="text-primary"><%=product.quantity%></span>
                                            </div>
                                            <div>
                                                <span class="text-dark">Price: </span>
                                                <span class="text-primary"><%=product.price%> &times; <%=product.quantity%></span>
                                                = <%=product.price * product.quantity%>
                                            </div>
                                        </div>
                                    </div>
                                    <%}%>

                                    <div class='mt-3 mb-3'>
                                        <span class="btn btn-primary">
                                            <i class="fal fa-hourglass"></i>
                                            Status: <%=order.status%>
                                        </span>
                                        <%let action = order.status == 'pending'? 'completed':'pending'%>

                                        <span class="dropdown">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                              Change Status to
                                            </button>
                                            <div class="dropdown-menu">
                                            <%let actions = ['Pending', 'Completed', 'On hold', 'Cancelled'];
                                            for(let action of actions){%>
                                                <button class="dropdown-item" onclick="mark('<%=action%>')">
                                                    <%=action%>
                                                </button>
                                            <%}%>

                                            </div>
                                          </span>
                                        <button class="btn btn-outline-dark" onclick='$("#invoice").fadeIn()'>
                                            <i class="fal fa-file-invoice"></i>
                                            Generate Invoice
                                        </button>
                                        <br/> <br/>
                                        <button class="btn btn-outline-danger" onclick="deleteOrder('<%=order._id%>')">
                                            <i class="fal fa-trash-alt"></i>
                                            Delete Order
                                        </button>
                                    </div>

                            </div><!-- end col-->

                        </div><!-- end row -->


                    <!-- end main content here-->
                </div>
                <!-- container-fluid -->
                <%-await include('footer.html')%>
            </div>
</div>
           <div id="invoice" class='' >
               <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="logo col-2">
                            <img src="/logo.png" class='img-fluid' alt="">
                        </div>
                        <div class="company">
                                <div class="text-primary">
                                    <h4>
                                        <%=site.invoiceTitle%>
                                    </h4>
                                </div>
                                <div class="text-dark">
                                    <i class="fal fa-globe"></i>
                                    <%=site.domain%>
                                </div>
                                <div class="text-secondary">
                                    <i class="fal fa-map-marker"></i>
                                    <%=site.address%>
                                </div>
                                <div class="text-secondary">
                                    <i class="fal fa-phone-alt"></i>
                                    <%=site.phone%>
                                </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <button id='printBtn' class="btn btn-success fas fa-print" onclick='window.print()'> Print</button>
                        <button id='closeBtn' class="btn btn-danger fal fa-times" onclick='$("#invoice").fadeOut()'></button>
                        <h2 class="text-primary text-right">
                            Invoice 
                        </h2>
                    </div>
                </div>
                <hr>
                <div class="row d-flex ">
                        <div class="col-6">
                            <div class="text-primary">
                                <b>Bill To: <br>
                                    <%=order.customer && order.customer.firstName%>
                                    <%=order.customer && order.customer.lastName%>
                                </b>
                            </div>
                            <div class="text-secondary">
                                Address: 
                                <%= order.customer && order.customer.address1%> 
                                <%= order.customer && order.customer.address2%> 
                                
                                <br>
                                Phone: <%= order.customer && order.customer.phone%>
                            </div>
                        </div>
                        <div class="col"></div>

                        <div class="col-5 mr-auto">
                            <div class="text-dark">
                                <b>Invoice No: </b><%=order._id%> <br>
                                <b>Issue Date: </b><%=new Date().toUTCString()%> <br>
                                <b>Order Date: </b><%=order.date.toUTCString()%>
                            </div>
                        </div>
                </div>
                <hr>
                <table class='table table-stripped table-editable' >
                    <tr class='thead-default'>
                        <th>Item</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th>Sub-total Price</th>
                    </tr>
                    <%for(let product of order.products){%>
                        <tr>
                            <td><%=product.name%></td>
                            <td>৳ <%=product.price%></td>
                            <td><%=product.quantity%></td>
                            <td>৳ <%=product.price * product.quantity%></td>
                        </tr>
                        <%}%>
                        <tr>
                            <th colspan="3">
                                Total Price
                            </th>
                            <th>
                                ৳ <%=order.totalPrice%>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="3">
                                Delivery Charge
                            </th>
                            <th>
                                ৳ <%=order.deliveryCharge%>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="3">
                                Amount to be paid
                            </th>
                            <th>
                                ৳ <%=+order.totalPrice + +order.deliveryCharge%>
                            </th>
                        </tr>
                </table>
                <div class="footNote p-1" contenteditable='false'>
                    Invoice auto generated by Alpha E-commerce Engine. 
                    <span class="text-primary">
                        <i class="fal fa-globe"></i>
                        lotustech.dev/alpha
                        </span>
                </div>
            </div>
        </div>

   
</body>
<script>
    let orderId = "<%-order._id%>";
    
</script>
<style>
    #invoice{
        display: none;
        position: fixed;
        z-index:1000;
        background: #fff;
        top:0; 
        margin-bottom:40px;
        left:0;
        background: rgba(105, 105, 105, 0.479);
        width:100%;
    }
    #invoice .container{
        max-width:60%;
        min-height: 100vh;
        margin:auto;
        background: #fff;
    }
    .footNote{
        
        margin-top: 20px;
    }
    @page{
        size: A4;
        margin:20px;
    }
    @media print{
        .container, .col, .row{
            padding: 0;
            margin:0;

        }
        #page{
            display: none;
        }
        #closeBtn{
            display: none;
        }
        #printBtn{
            display: none;
        }
    }
</style>
<script src='/admin/js/admin/order.js'></script>
</html>