<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Alpha </title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    
    <%-await include('header.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Add New Order</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    <!-- start main content from here  -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <form action="#" name='order' onsubmit="return submitOrder(event)" class=''>
                                    <h4 class="mt-0 header-title">Order Information</h4>
                                    <hr>    
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Customer</label>
                                        <div class="col-sm-10">
                                            <select class="form-control mt-3 " name="customerId" id='parentSelect'>
                                                <option selected value=''>Select Customer</option>
                                                <%for(x of customer){%>
                                                    <option value="<%-x._id%>"><%=x.firstName%> <%=x.lastName%></option>
                                                <%}%>
                                            </select>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Products</label>
                                        <div class="col-sm-10">
                                            
                                            <select class="form-control mt-3 "  name="" id='parentSelect' oninput="addProduct(event)">
                                                <option selected value=''>Add Product</option>
                                                <%for(x of products){%>
                                                    <option value="<%-x._id%>"><%=x.name%></option>
                                                <%}%>
                                            </select>
                                            <div class="invalid-feedback"></div>
                                            <div id="productViewer"></div>
                                        </div>
                                    </div>

                                    <h4 class="mt-5 header-title">Billing Address</h4>
                                    <hr>   

                                    <div class="form-group">
                                        <input type="checkbox" name="useAccountBillingAddress" class='' id="" onclick="loadCustomerAddress()">
                                        <label for="">Use customers profile address</label>
                                    </div>
                                    <div class="from-group row">
                                        <div class="col-sm-6">
                                            <label for="">First Name</label>
                                            <input type="text" name="firstName" id="" class="form-control">
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="">Last Name</label>
                                            <input type="text" name="lastName" id="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="from-group row">
                                        <div class="col-sm-6">
                                            <label for="">Phone </label>
                                            <input type="text" name="phone" id="" class="form-control">
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="">Email</label>
                                            <input type="text" name="email" id="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label for="">Country</label>
                                            <select name="country" id="" onclick='loadCity()' class='form-control'>
                                                <option value="">Select Country</option>
                                                <%let countryList = await getCountryList();
                                                for(let country of countryList){%>
                                                    <option value="<%=country.name%>"><%=country.name%></option>
                                                <%}%>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="">City</label>
                                            <select name="city" id="" class='form-control'>
                                                <option value="">Select City</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="">Address Line 1</label>
                                        <div class="">
                                            <input type="text" name="address1" id="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="">Address Line 2</label>
                                        <div class="">
                                            <input type="text" name="address2" id="" class="form-control">
                                        </div>
                                    </div>

                                    
                                    <h4 class="mt-5 header-title">Billing Address</h4>
                                    <hr>   

                                    <div class="form-group">
                                        <input type="checkbox" name="shipToDifferentAddress" class='' id="" onclick="differentShippingAddress()">
                                        <label for="">Ship to different Address</label>
                                    </div>

                                    <div id="shippingAddress" style='display:none'>
                                        <div class="from-group row">
                                            <div class="col-sm-6">
                                                <label for="">First Name</label>
                                                <input type="text" name="shippingFirstName" id="" class="form-control">
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="">Last Name</label>
                                                <input type="text" name="shippingLastName" id="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="from-group row">
                                            <div class="col-sm-6">
                                                <label for="">Phone </label>
                                                <input type="text" name="shippingPhone" id="" class="form-control">
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="">Email</label>
                                                <input type="text" name="shippingEmail" id="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label for="">Country</label>
                                                <select name="shippingCountry" id="" onclick='loadShippingCity()' class='form-control'>
                                                    <option value="">Select Country</option>
                                                    <%for(let country of countryList){%>
                                                        <option value="<%=country.name%>"><%=country.name%></option>
                                                    <%}%>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="">City</label>
                                                <select name="shippingCity" id="" class='form-control'>
                                                    <option value="">Select City</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="">Address Line 1</label>
                                            <div class="">
                                                <input type="text" name="shippingAddress1" id="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="">Address Line 2</label>
                                            <div class="">
                                                <input type="text" name="shippingAddress2" id="" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    
                                    <h4 class="mt-5 header-title">Payment Method</h4>
                                    <hr>   
                                    
                                        <div class="form-group">
                                            <label for="">Payment Method</label>
                                            <select name="paymentMethod" id="" class="form-control">
                                                <option value="">Select Payment Method</option>    
                                                <option value="cod">Cash on delivery</option>    
                                                <option value="bkash">Bkash</option>    
                                                <option value="nagad">Nagad</option>    
                                                <option value="rocket">Rocket</option>    
                                            </select>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label for="">Payment Number 
                                                    <div class="text-secondary">If not Cash on delivery</div>    
                                                </label>
                                                <input type="text" name="paymentAccountNumber" id="" class='form-control'>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="">Payment Id / Transaction Id 
                                                    <div class="text-secondary">If not Cash on delivery</div>    
                                                </label>
                                                <input type="text" name="transactionId" id="" class='form-control'>
                                            </div>
                                        </div>

                                    <button type='submit' class="btn btn-success">
                                        <i class="fal fa-check"></i>
                                        Add Order
                                    </button>
                                    <button type='reset' class="btn btn-secondary">
                                        <i class="fa fa-refresh"></i>
                                        Reset Form
                                    </button>
                                    </form>
                                    
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->      
                    <!--end main content here-->
                </div>
                <!-- container-fluid -->

    <%-await include('footer.html')%>

    <script src='/admin/js/admin/order.js'></script>
    <script>
        let products = <%-JSON.stringify(products)%>
    </script>



</body>

</html>