<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Category Detail</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    

       <%-await include('header.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Pages</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    <!-- start main content here-->
                    <div class="row">


                        <div class="col-md-12">
                            <div class="card m-b-30">
                                <div class="card-body">

                                    <div class="table-responsive">
                                        <table class="table table-striped mb-0">
                                           
                                            <tbody>

                                                <tr>
                                                    <th>Title</th>
                                                    <th>Created</th>
                                                    <th>Last Modified</th>
                                                    <th>View</th>
                                                </tr>
                                                <%for(page of pages){%>
                                                <tr>
                                                    <td scope="row">
                                                        <a href='/admin/page/view/<%-page._id%>' class="">
                                                            <b><%= page.name%></b> 
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <%=page.added && page.added.toLocaleString()%>
                                                    </td>
                                                    
                                                    <td>
                                                        <%= page.lastModified && page.lastModified.toLocaleString()%>
                                                        
                                                    </td>
                                                    <td>
                                                        <a href='/admin/page/view/<%-page._id%>' class="btn btn-outline-primary">
                                                            <i class="far fa-eye"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                
                                                <%}%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col -->

                                </form>
                                    <!-- end edit form -->
                                </div>
                            </div>

                        </div><!-- end col-->

                    </div><!-- end row -->
                        
                      

                    <!-- end main content here-->
                </div>
                <!-- container-fluid -->

           

   <%-await include('footer.html')%>

</body>

</html>