<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Alpha </title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />

    <script src="/admin/js/admin/page.js"></script>

    <%-await include('assets.html')%>
   
</head>

<body>

    <!-- Begin page -->
    
    <%-await include('header.html')%>
    <%-await include('imageLibrary.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Add Page</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    <!-- start main content from here  -->

                        <form onsubmit="submitPage(event)" id='pageForm'>
                            
                            <input type="hidden" id = 'pageId' name="id">

                                <div class="row p-0">

                                    <div class="col-sm-9 p-0 m-0">
                                        <div class="form-group border ">
                                            <div id="toolbar-container"></div>
                                            <div name="body"  id='body' style='min-height:30vh'></div>
                                        </div>                                    
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="">Title</label>
                                            <input type="text" name="name" id="" class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <label for="">Thumbnail</label>
                                            <div class=''>
                                                <input type="text" name='thumbnail' class="form-control" id='pageThumb'>
                                            </div>  
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-success" type="submit">
                                                <i class="fal fa-save"> </i> Save
                                            </button>
                                        </div>
                                    </div>

                                </div>
                                
                            </div> <!-- end col -->
                        </form>

                <!-- container-fluid -->

    <%-await include('footer.html')%>

    <script>
    
        let imgLib = new ImageLibrary(document.getElementById('pageThumb'));

    </script>



</body>

<script src="/admin/js/plugins/ckeditor/build/ckeditor.js"></script>
<script src="/admin/js/admin/editor.js"></script>

<script>
    createEditor(document.querySelector('#body'));
</script>
</html>