<div class="row mt-1 mb-1">
<div class="col-12 mt-1">
                                
   
</div>
<div class="col-sm-3">
    <div class="text-secondary">
        Showing <%=page.startingIndex %> to <%=page.endingIndex %> of <%=page.totalIndex%> Items
    </div>
</div>
<div class="col-sm-4">
    <form action="/admin/<%=pageName%>">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">Items per page</div>
            </div>
            <input type="number" name="limit" id="" class="form-control" value =<%=limit%> >
            <input type="hidden" name="page" value="<%=page.current%>%>">
            <div class="input-group-append">
                <button type='submit' class='btn btn-primary'>
                    <i class="fal fa-check"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<div class="col-sm-5">
    <%if(page.total>1){%>
        <ul class="pagination pagination-sm justify-content-end"  style='flex-wrap: wrap;'>
            <li class="page-item">
                <a class="page-link" href="/admin/<%=pageName%>?page=<%=page.previous%>&limit=<%=limit%>&<%=locals.param?locals.param:''%>">Previous</a>
            </li>
            <%for(let x = 1; x<=page.total; x++){%>
                <li class="page-item <%= x == page.current? 'active':''%>">
                    <a class="page-link " href="/admin/<%=pageName%>?page=<%=x%>&limit=<%=limit%>&<%=locals.param?locals.param:''%>"><%=x%></a>
                </li>
            <%}%>
            <li class="page-item">
                <a class="page-link" href="/admin/<%=pageName%>?page=<%=page.next%>&limit=<%=limit%>&<%=locals.param?locals.param:''%>">Next</a>
            </li>
          </ul>
          <%}%>
</div>
</div>