<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Alpha </title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    

       <%-await include('header.html')%>
       <%-await include('imageLibrary.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Product Information</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    <!-- start main content here-->
                    <div class="row">
                            <div class="col-md-6">
                                <div class="card m-b-20">
                                    <div class="card-body">
        
                                        <h4 class="mt-0 header-title"><%=product.name%></h4>
                                        <p class="sub-title">You can change the default thumbnail image, by default the first image added is used as the thumbnail.</p>
                                        
                                        <%let images = product.image;
                                         if(images.length>0){%>
                                        
                                        <div id="imageSlider" class="carousel slide" data-ride="carousel">
                                            <ol class="carousel-indicators">
                                                <%for(image in images){ 
                                                    if(!images[image]) continue;
                                                %>
                                                   <li data-target="#imageSlider" data-slide-to="<%-image%>" class="<%=image==0?'active':''%>"></li>
                                                <%}%>
                                            </ol>
                                            <div class="carousel-inner" role="listbox">
                                                
                                                <%for(image in images){
                                                    if(!images[image]) continue;
                                                %>
                                                    <div class="carousel-item <%=image==0?'active':''%>">
                                                        <img class="d-block img-fluid mx-auto" src="<%-images[image].medium%>" alt="First slide">
                                                    </div>
                                                <%}%>
                                                
                                            </div>
                                            <a class="carousel-control-prev" href="#imageSlider" role="button" data-slide="prev">
                                                <span class="text-dark" aria-hidden="true">
                                                    <i class="fas fa-3x fa-chevron-left"></i>
                                                </span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#imageSlider" role="button" data-slide="next">
                                                    <span class="text-dark" aria-hidden="true">
                                                        <i class="fas fa-3x fa-chevron-right"></i>
                                                    </span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                        <div class="container-fluid" id='imageEdit'>
                                            <%for(x in images){
                                                if(!images[x]) continue;
                                            %>
                                               <div class="row border border-primary m-1" id="img<%-x%>">
                                                   <div class="col-sm-4 col-md-3 <%=x==0?'active':''%>" data-target="#imageSlider" data-slide-to="<%-x%>" >
                                                       <img src="<%-images[x].icon%>" alt="" class="img-fluid">
                                                   </div>
                                                   <div class="col-sm-8 col-md-9">
                                                       <div class="title text-primary">
                                                           <%-images[x].name%>
                                                       </div>
                                                       <div class="buttons m-2">
                                                            <button class="btn btn-danger btn-sm " onclick="del('<%-images[x]._id%>', '<%-x%>')">
                                                                <i class="fal fa-trash"></i> Delete
                                                            </button>
                                                            
                                                            <%if (product.cover && product.cover._id.toHexString() == images[x]._id){%>
                                                                <button class="btn btn-outline-success btn-sm statbtn" onclick="makeThumb('<%-images[x]._id%>', '<%-x%>')">
                                                                    <i class="fal fa-check"></i> Thumbnail
                                                                </button>
                                                            <%}else{%>
                                                                <button class="btn btn-info btn-sm statbtn" onclick="makeThumb('<%-images[x]._id%>', '<%-x%>')">
                                                                    <i class="fal fa-image"></i> Set As Thumbnail
                                                                </button>
                                                            <%}%>
                                                       </div>
                                                   </div>
                                               </div>
                                            <%}%>
                                        </div>
                                        <%}%>
                                    </div>
                                    <div class="card-footer alert-primary">
                                        <div class=" mb-3 lead text- text-center">
                                            <i class="fal fa-camera-retro fa-lg"></i> <b>Add more Images</b>
                                        </div>
                                        <form action="#" onsubmit='submitImage(event)' method='post' enctype="multipart/form-data">
                                            <input type="hidden" name="id" value="<%-product._id%>"> <br>     
                                            <div class="form-group">
                                                <input type="text" name="image" id="image">
                                            </div>
                                            <button class="btn btn-light btn-sm mt-2" type='submit'>Upload Image</button>  
                                        </form>
                                    </div>
                                </div>
                            </div> <!-- end col -->


                            <!-- right panel-->
                            <div class="col-md-6">
                                <div class="card m-b-20">
                                    <div class="card-body">
        
                                        <h4 class="mt-0 header-title">Details 
                                            <button class="float-right btn btn-primary" id='editBtn' onclick='showEditForm()'>
                                                <i class="fal fa-edit"></i> Edit
                                            </button>
                                        </h4>
                                        <p class="sub-title"> 
                                            
                                            Added on <%=product.date%>
                                        </p>
                                        <form action="#" onsubmit='submitUpdate(event)'>
                                            <input class='form-control' type="hidden" name="id" value="<%-product._id%>">
                                            <div class="table-responsive">
                                                <table class="table table-bordered mb-0" id='mainTable'>
                                                
                                                    
                                                    <tr>
                                                        <td>name</td>
                                                        <td><%=product.name%></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Model</td>
                                                        <td><%=product.model%></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Unit</td>
                                                        <td><%=product.unit%></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Price</td>
                                                        <td><%=product.price.regular%></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Offer Price</td>
                                                        <td><%=product.price.offer%></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Available Stock</td>
                                                        <td><%=product.availableStock%></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Minimum Stock</td>
                                                        <td><%=product.minimumStock%></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Url</td>
                                                        <td><%=product.url%></td>
                                                    </tr>
                                                </table>

                                                <%let primaryCategory= product.primaryCategory;%>
                                                <div class="mt-3">
                                                    <%if(primaryCategory){%>
                                                        <span class="">primaryCategory:</span>
                                                        <span class='m-1 text-info'>
                                                            <a class='text-primary' href="/admin/category/view/<%=primaryCategory._id%>"><%=primaryCategory.name%></a></span>
                                                    <%}%>
                                                </div>

                                                <%let category = product.category;
                                                if(category){%>
                                                <div class="mt-3">
                                                    <span class="text-dark">Category:</span>
                                                    <%category.forEach(item=>{%>
                                                        <span class='m-1'>
                                                            <a class='text-primary' href="/admin/category/view/<%=item._id%>"><%=item.name%></a></span>
                                                    <%})
                                                }%>
                                                </div>


                                                <%let brand = product.brand;
                                                if(brand){%>
                                                <div class="mt-3">
                                                    <span class="text-dark">Brand:</span>
                                                    <span class='m-1'><a href="/admin/brand/view/<%=brand._id%>"><%=brand.name%></a></span>
                                                    
                                                <%}%>
                                                </div>

                                                <%let tag = product.tag;
                                                if(tag){%>
                                                <div class="mt-3">
                                                    <span class="text-dark">Tags:</span>
                                                    <%tag.forEach(item=>{%>
                                                        <span class='m-1'><a href="/admin/tag/view/<%=item._id%>"><%=item.name%></a></span>
                                                    <%})
                                                }%>
                                                </div>

                                                <%let attrs = await getProductAttr(product._id);
                                                if(attrs){%>
                                                <div class="mt-3">
                                                    <span class="text-dark">Attributes:</span> 
                                                    <%attrs.forEach(item=>{%>
                                                        <span class='m-1 border p-2'><%=item.name%>: <%=item.value.join(',')%></span>
                                                    <%})
                                                }else{%>
                                                        Tags not found!
                                                    <%}%>
                                                </div>


                                                <button class="btn btn-success mt-2" type='submit' id='submitBtn' style='display: none;'>Update Product</button>
                                            </div>
                                        
                                    </form>
                                </div>
                            </div>



                            <button class="btn btn-danger mt-2 float-right" type='button' onclick="delProduct(event)">
                                <i class="fal fa-trash-alt"></i> Delete Product
                            </button>
                            </div><!-- end col-->

                        </div><!-- end row -->

                    <!-- end main content here-->
                </div>
                <!-- container-fluid -->
                
                <!-- update form -->
                <div id="updateForm" style='display:none'>
                    
                    <div class="formBody">
                        
                        <button class="float-right btn btn-sm btn-outline-danger rounded-circle" onclick="hideEditForm()">
                            <i class="fal fa-times"></i>
                        </button>

                        <form action="#" onsubmit=" return submitProductEdit(event)" class=''>
                            <input type="hidden" name="id" value='<%=product._id%>'>
                        <h4 class="mt-0 header-title">Product Information</h4>
                        <p class="sub-title mb-0">General Information</p>  
                        <hr>    
                        <div class="form-group row">
                            <label for="example-text-input" class="col-sm-2 col-form-label">Product Name</label>
                            <div class="col-sm-10">
                                <input class="form-control" value='<%=product.name%>' placeholder="Men’s Winter Sports Jacket" type="text" value="" name="name" id="example-text-input">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        
                            
                        <div class="form-group row">
                            <label for="example-text-input" class="col-sm-2 col-form-label">Model Number</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text"  value='<%=product.model%>' name="model" placeholder="MEN WSJ-10" >
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-text-input" class="col-sm-2 col-form-label">Unit </label>
                            <div class="col-sm-10 ">
                                <input class="form-control" type="text" value='<%=product.unit%>' name="unit" placeholder="piece / pair / box" >
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>

                        <!-- classification -->
                        <h4 class="mt-5 header-title">Product classification</h4>
                        <p class="sub-title mb-0">Category, Brand, Tags</p>  
                        <hr>  

                        <div class="form-group row">
                            <label for="example-text-input" class="col-sm-2 col-form-label">Brand</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="brand">
                                    <%if(product.brand){%>
                                        <option value="<%=product.brand._id%>"><%=product.brand.name%></option>
                                        <option value="" disabled>_________</option>
                                    <%}else{%>
                                        <option selected>Select Brand</option>
                                    <%}%>
                                    <%brand = await getBrandList();%>
                                    <%for(let item of brand.data){%>
                                        <option value="<%-item._id%>">
                                            <%=item.name%>
                                        </option>
                                    <%}%>
                                </select>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Category</label>
                            <div class="col-sm-10">
                                <div class="form-control border-0 p-0" name="category" style='height:auto !important'>
                                    <%category = await getCategoryList({type:'all', parent:true});%>
                                    <%for(x of category.data){%>
                                        <button type='button' value="<%-x._id%>" onclick = 'selectCategory(event)'
                                        class='btn btn-outline-primary p-1 m-1 rounded-lg' >
                                            
                                            <%x.parent? x.parent.name +' >': ''%> <%=x.name%>
                                        </button>
                                    <%}%>
                                </div>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                                                            
                        <div class="form-group row">
                            <label for="example-text-input" class="col-sm-2 col-form-label">Tags</label>
                            <div class="col-sm-10">
                                <div class="form-control border-0 p-0" name="tags" style='height:auto !important'>
                                    <%tags = await getTagList();%>
                                    <%for(x of tags.data){%>
                                        <button type='button' value="<%-x._id%>" onclick = 'selectTag(event)'
                                        class='btn btn-outline-primary p-1 m-1 rounded-lg' >
                                            <%=x.name%>
                                        </button>
                                    <%}%>
                                </div>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>

                        <!-- pricing -->
                        <h4 class="mt-5 header-title">Pricing</h4>
                        <p class="sub-title mb-0">Sales and Offer Prices</p>  
                        <hr>
                        
                        <div class="form-group row">
                            <label for="example-text-input" class="col-sm-2 col-form-label">Regular Price 
                                <div class="text-primary font-weight-normal">Per unit</div>
                            </label>
                            
                            <div class="col-sm-6 row ">
                                <input class="form-control" type="text" value='<%=product.price.regular%>' name="price" placeholder="25" >
                                <div class="invalid-feedback"></div>
                            
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-text-input" class="col-sm-2 col-form-label">Offer Price
                                <div class="text-primary font-weight-normal">Per unit</div>
                            </label>
                            
                            <div class="col-sm-6 row ">
                                
                                <input class="form-control" type="text" value='<%=product.price.offer%>' name="offerPrice" placeholder="28" >
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col-sm-4">
                                <input class="" checked='false' type="checkbox" value="" name="scheduleOffer" >  
                                <label for="example-text-input" class="ml-1 col-form-label">
                                    Schedule Offer
                                </label>
                                
                            </div>
                        </div>

                    <!--
                        <div class="form-group row offerDate" >
                            <label for="example-text-input" class="col-sm-2 col-form-label">Offer Starting Date</label>
                            
                            <div class="col-sm-6 row ">
                                <input class="form-control " type="date" value='<%=product.offerStartDate%>' name="offerStartDate"  >
                                <div class="invalid-feedback"></div>
                            
                            </div>
                        </div>
                        
                        
                        <div class="form-group row offerDate" >
                            <label for="example-text-input" class="col-sm-2 col-form-label">Offer Ending Date</label>
                            
                            <div class="col-sm-6 row ">
                                <input class="form-control " type="date" value='<%=product.offerEndDate%>' name="offerEndDate"  >
                                <div class="invalid-feedback"></div>
                            
                            </div>
                        </div>
                        
                        -->
                        
                        
                        <!-- attributes -->
                        <h4 class="mt-5 header-title">Attributes</h4>
                        <p class="sub-title mb-0">Products Specification</p>  
                        <hr>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-sm-2 col-form-label">Attributes</label>
                            <div class="col-sm-10">
                                <div class="form-control border-0 p-0" name="tags">
                                    <select name="" id="" oninput='addAttribute(event)' class='form-control'>
                                        <option value="" selected>Add attribute</option>
                                        <%attribute = await getAttributeList();%>
                                        <%for(x of attribute){%>
                                            <option value="<%=x._id%>"><%=x.name%></option>
                                        <%}%>
                                    </select>
                                </div>
                                <div class="invalid-feedback"></div>
                                <div id="attrView"></div>
                            </div>
                        </div>
                        
                        <!-- Inventory -->
                        <h4 class="mt-5 header-title">Inventory</h4>
                        <p class="sub-title mb-0">Stock and availability details</p>  
                        <hr>
                        
                        <div class="form-group row">
                            <label for="example-text-input" class="col-sm-2 col-form-label">Available Stock </label>
                            
                            <div class="col-sm-6 row ">
                                <input class="form-control" type="text" value='<%=product.availableStock%>' name="availableStock" placeholder="100" >
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        

                        <div class="form-group row">
                            <label for="example-text-input" class="col-sm-2 col-form-label">Minimum Stock Before Notification</label>
                            
                            <div class="col-sm-6 row ">
                                <input class="form-control" type="text" value='<%=product.minimumStock%>' name="minimumStock" placeholder="05" >
                                <div class="invalid-feedback"></div>
                                <div class="text-muted mt-1">
                                    <i class="fal fa-info-circle"></i>
                                    We will notify you when product stock is below minimum stock
                                </div>
                            </div>
                        </div>

                        <!-- description -->
                        <h4 class="mt-5 header-title">Product Description</h4>
                        <p class="sub-title mb-0">Add a description of product</p>  
                        <hr>
                            <div id="toolBar"></div>
                            <div name="description" id="description" style='min-height:20vh'  class='form-control'></div>
                                    
                        <p></p>
                        <button type='submit' class="btn btn-success">
                            <i class="fal fa-check"></i>
                            Update Product
                        </button>
                        <button type='reset' class="btn btn-secondary">
                            <i class="fa fa-refresh"></i>
                            Reset Form
                        </button>
                        </form>
                        
                    </div>
                </div>

                            <!-- update form end-->
           

   <%-await include('footer.html')%>

    <script src="/admin/js/admin/product.js"></script>
    <link rel="stylesheet" href="/admin/css/product.css">

    <script>
        let product = <%-JSON.stringify(product)%>
        let attributes = <%-JSON.stringify(await getAttributeList())%>
        let imgLib = new ImageLibrary(document.getElementById('image'));
        
        <%for(let x of product.category){%>
            document.querySelector("button[value='<%=x._id%>']").click()
        <%}%>
        <%tag = (await getProductTag(product._id))%>
        <%for(let x of tag){%>
            document.querySelector("button[value='<%=x._id%>']").click()
        <%}%>

    </script>
    <script src="/admin/js/plugins/ckeditor/build/ckeditor.js"></script>
    <script src="/admin/js/admin/editor.js"></script>

    <script>
        let editor;
        createEditor(document.querySelector('#description'), document.getElementById('toolBar')).then(ed=>{
            editor=ed
            const viewFragment = editor.data.processor.toView( `<%-product.description%>` );
            const modelFragment = editor.data.toModel( viewFragment );

            editor.model.insertContent( modelFragment, editor.model.document.selection );

        });
    </script>
</body>

</body>

</html>