<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Product List</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>

</head>

<body>
    <%
        let products = await getProductList({page, limit});
    %>    

    <!-- Begin page -->

       <%-await include('header.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Product List</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                                
                            </div>
                        </div>
                        <%- await include('pagination.html', {page:products.page, pageName:'product/list'})%>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    <!-- start main content here-->
                        <div class="container-fluid">
                            <table class="table">
                                <tr>
                                    <th>Cover</th>
                                    <th>Name</th>
                                    <th>Offer Price</th>
                                    <th>Price</th>
                                    <th>Available Stock</th>
                                    <th>View</th>
                                </tr>
                                <%for (let product of products.data){%>
                                
                                    <tr>
                                        <td>
                                            <img class="" src="<%-product.cover && product.cover.thumbnail%>"
                                             alt="<%=product.name%> image" style='max-width:50px'>
                                        </td>
                                        <td>
                                            <b class="font-14"><%=product.name%></b>
                                        </td>
                                        <td class='text-primary'>
                                            ৳ <%-product.price.offer%>
                                        </td>
                                        <td>
                                            ৳ <%-product.price.regular%>
                                        </td>
                                        <td>
                                            <%-product.availableStock%>
                                        </td>
                                        <td>
                                            <a href="/admin/product/view/<%=product._id%>" class="btn btn-primary waves-effect waves-light">
                                                <i class="fa fa-eye"></i> View
                                            </a>
                                        </td>
                                    </tr>
                                <%}%>
                            </table>
                            <%- await include('pagination.html', {page:products.page, pageName:'product/list'})%>

                        </div>
                    <!-- end main content here-->
                </div>
                <!-- container-fluid -->

           

   <%-await include('footer.html')%>

</body>

</html>