<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Add Product</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    
    <%-await include('header.html')%>
    <%-await include('imageLibrary.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Add Product</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    <!-- start main content from here  -->

                    <div class="row">
                        <div class="col-md-9">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <form action="#" onsubmit=" return submitProduct(event)" class=''>
                                    <h4 class="mt-0 header-title">Product Information</h4>
                                    <p class="sub-title mb-0">General Information</p>  
                                    <hr>    
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Product Name</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" placeholder="Men’s Winter Sports Jacket" type="text" value="" name="name" id="example-text-input">
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                    
                                        
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Model Number</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" value="" name="model" placeholder="MEN WSJ-10" >
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Unit </label>
                                        <div class="col-sm-10 ">
                                            <input class="form-control" type="text" value="" name="unit" placeholder="piece / pair / box" >
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>

                                    <!-- classification -->
                                    <h4 class="mt-5 header-title">Product classification</h4>
                                    <p class="sub-title mb-0">Category, Brand, Tags</p>  
                                    <hr>  

                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Brand</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" name="brand">
                                                <option selected value="">Select Brand</option>

                                                <%for(x of brand){%>
                                                    <option value="<%-x._id%>">
                                                        <%=x.name%>
                                                    </option>
                                                <%}%>
                                            </select>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Category</label>
                                        <div class="col-sm-10">
                                            <div class="form-control border-0 p-0" name="category" style='height:auto !important'>

                                                <%for(x of category){%>
                                                    <button type='button' value="<%-x._id%>" onclick = 'selectCategory(event)'
                                                    class='btn btn-outline-primary p-1 m-1 rounded-lg' >
                                                        <%=x.parent?x.parent.name + '>' : ''%> <%=x.name%>
                                                    </button>
                                                <%}%>
                                            </div>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                                                        
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Tags</label>
                                        <div class="col-sm-10">
                                            <div class="form-control border-0 p-0" name="tags" style='height:auto !important'>

                                                <%for(x of tags){%>
                                                    <button type='button' value="<%-x._id%>" onclick = 'selectTag(event)'
                                                    class='btn btn-outline-primary p-1 m-1 rounded-lg' >
                                                        <%-x.parentName%>
                                                        &rsaquo;
                                                        <%=x.name%>
                                                    </button>
                                                <%}%>
                                            </div>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>

                                    <!-- pricing -->
                                    <h4 class="mt-5 header-title">Pricing</h4>
                                    <p class="sub-title mb-0">Sales and Offer Prices</p>  
                                    <hr>
                                    
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Regular Price 
                                            <div class="text-primary font-weight-normal">Per unit</div>
                                        </label>
                                        
                                        <div class="col-sm-6 row ">
                                            <input class="form-control" type="text" value="" name="price" placeholder="25" >
                                            <div class="invalid-feedback"></div>
                                        
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Offer Price
                                            <div class="text-primary font-weight-normal">Per unit</div>
                                        </label>
                                        
                                        <div class="col-sm-6 row ">
                                            
                                            <input class="form-control" type="text" value="" name="offerPrice" placeholder="28" >
                                            <div class="invalid-feedback"></div>
                                        </div>
                                        <!--
                                        <div class="col-sm-4">
                                            <input class="" checked='false' type="checkbox" value="" name="scheduleOffer" >  
                                            <label for="example-text-input" class="ml-1 col-form-label">
                                                Schedule Offer
                                            </label>
                                            
                                        </div> -->
                                    </div>

                                    <!--
                                    <div class="form-group row offerDate" >
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Offer Starting Date</label>
                                        
                                        <div class="col-sm-6 row ">
                                            <input class="form-control " type="date" value="" name="offerStartDate"  >
                                            <div class="invalid-feedback"></div>
                                        
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="form-group row offerDate" >
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Offer Ending Date</label>
                                        
                                        <div class="col-sm-6 row ">
                                            <input class="form-control " type="date" value="" name="offerEndDate"  >
                                            <div class="invalid-feedback"></div>
                                        
                                        </div>
                                    </div>-->
                                    
                                    
                                    
                                    
                                    <!-- attributes -->
                                    <h4 class="mt-5 header-title">Attributes</h4>
                                    <p class="sub-title mb-0">Products Specification</p>  
                                    <hr>
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Attributes</label>
                                        <div class="col-sm-10">
                                            <div class="form-control border-0 p-0" name="tags">
                                                <select name="" id="" oninput='addAttribute(event)' class='form-control'>
                                                    <option value="" selected>Add attribute</option>
                                                    <%for(x of attribute){%>
                                                        <option value="<%=x._id%>"><%=x.name%></option>
                                                    <%}%>
                                                </select>
                                            </div>
                                            <div class="invalid-feedback"></div>
                                            <div id="attrView"></div>
                                        </div>
                                    </div>
                                    
                                    <!-- Inventory -->
                                    <h4 class="mt-5 header-title">Inventory</h4>
                                    <p class="sub-title mb-0">Stock and availability details</p>  
                                    <hr>
                                    
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Available Stock </label>
                                        
                                        <div class="col-sm-6 row ">
                                            <input class="form-control" type="text" value="" name="availableStock" placeholder="100" >
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                    

                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Minimum Stock Before Notification</label>
                                        
                                        <div class="col-sm-6 row ">
                                            <input class="form-control" type="text" value="" name="minimumStock" placeholder="05" >
                                            <div class="invalid-feedback"></div>
                                            <div class="text-muted mt-1">
                                                <i class="fal fa-info-circle"></i>
                                                We will notify you when product stock is below minimum stock
                                            </div>
                                        </div>
                                    </div>

                                    <!-- description -->
                                    <h4 class="mt-5 header-title">Product Description</h4>
                                    <p class="sub-title mb-0">Add a description of product</p>  
                                    <hr>
                                    <div id="toolBar"></div>
                                    <div name="description" id="description" style='min-height:20vh'  class='form-control'></div>
                                    <!-- image -->
                                    <h4 class="mt-5 header-title">Product Image</h4>
                                    <p class="sub-title mb-0">Try to add as many images as possible</p>  
                                    <hr>

                                    <div class="row" >
                                        <div class="col-12">
                                            <div class="card m-b-30 " id='drop'>
                                                <div class="card-body" >
                                                    <p class="sub-title mb-0">
                                                        Select Images
                                                    </p>
                    
                                                    <div class="m-b-30">
                                                            <div class="fallback">
                                                                <input name="image" type="text" id='image'>
                                                            </div>
                                                    </div>
                    
                                                </div>
                                            </div>
                                        </div> <!-- end col -->
                                    </div> <!-- end row -->  

                                    <button type='submit' class="btn btn-success">
                                        <i class="fal fa-check"></i>
                                        Add Product
                                    </button>
                                    <button type='reset' class="btn btn-secondary">
                                        <i class="fa fa-refresh"></i>
                                        Reset Form
                                    </button>
                                    </form>
                                    
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->      
                    <!--end main content here-->
                </div>
                <!-- container-fluid -->

    <%-await include('footer.html')%>

    <script>
        let imgLib = new ImageLibrary(document.getElementById('image'));
        let attributes = <%-JSON.stringify(attribute)%>
    </script>
    <script src="/admin/js/admin/product.js"></script>

    

    <!--
        if not category available force to create category first
    -->

    <%if(!category[0]){%>
        <script>
            alertify.alert('Create Category', 'No category created yet. \n Create category first', ()=>{
                window.location = '/admin/category/add'
            })
        </script>
    <%}%>

    <script src="/admin/js/plugins/ckeditor/build/ckeditor.js"></script>
    <script src="/admin/js/admin/editor.js"></script>

    <script>
        let editor;
        createEditor(document.querySelector('#description'), document.getElementById('toolBar')).then(ed=>{
            editor=ed
        });
    </script>
</body>

</html>