<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Alpha </title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    
    <%-await include('header.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Update Site Setting </h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    <!-- start main content from here  -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <form action="/admin/settings.update" method='post' onsubmit="submitAdminSettings(event)" class=''>
                                    <h4 class="mt-0 header-title">Site Information</h4>
                                    <hr>   
                                     
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Site Title</label>
                                        <div class="col-sm-10">
                                            <input class='form-control' type="text" name="name" value='<%-admin.name%>' id="">
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                     
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Phone Number</label>
                                        <div class="col-sm-10">
                                            <input class='form-control' type="text" name="phone" value='<%-admin.phone%>' id="">
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                            <input class='form-control' type="email" name="email" value='<%-admin.email%>' id="">
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>

                                    <h4 class="mt-5 header-title">Change Password</h4>

                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Current Password</label>
                                        <div class="col-sm-10">
                                            <input class='form-control' type="password" name="password" id="">
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">New Password</label>
                                        <div class="col-sm-10">
                                            <input class='form-control' type="password" name="newPass" id="">
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                    

                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Repeat New Password</label>
                                        <div class="col-sm-10">
                                            <input class='form-control' type="password" name="newPassRepeat" id="">
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                    
                                    
                                    <button type='submit' class="btn btn-success">
                                        <i class="fal fa-check"></i>
                                        Update Settings
                                    </button>
                                    <button type='reset' class="btn btn-secondary">
                                        <i class="fa fa-refresh"></i>
                                        Reset Form
                                    </button>
                                    </form>
                                    
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->      
                    <!--end main content here-->
                </div>
                <!-- container-fluid -->

    <%-await include('footer.html')%>

    



</body>

</html>