 <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="slimscroll-menu" id="remove-scroll">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu" id="side-menu">
                        <li class="menu-title">Menu</li>
                        <li>
                            <a href="/admin" class="waves-effect">
                                <i class="fal fa-tachometer-slowest"></i>
                                <span> Dashboard </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect">
                                <i class="fal fa-tag"></i>
                                <span> Category <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                            <ul class="submenu">
                                <li>
                                    <a href="/admin/category/add">
                                        Add Category
                                    </a>
                                </li>
                                <li><a href="/admin/category/list">List Categories</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect">
                                <i class="fal fa-acorn"></i>
                                <span> Brand <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                            <ul class="submenu">
                                <li>
                                    <a href="/admin/brand/add">
                                        Add Brand
                                    </a>
                                </li>
                                <li><a href="/admin/brand/list">List Brand</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect">
                                <i class="fal fa-cookie"></i>
                                <span> Product <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                                <ul class="submenu">
                                    <li>
                                        <a href="/admin/product/add">
                                            Add Product
                                        </a>
                                    </li>
                                    <li><a href="/admin/product/list">List Products</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/admin/attributes" class="waves-effect">
                                    <i class="fal fa-sliders-h"></i>
                                    <span> Attributes <span class="float-right menu-arrow"></span></a>
                            </li>
                            <li>
                                <a href="/admin/tag" class="waves-effect">
                                    <i class="fal fa-tags"></i>
                                    <span> Tags <span class="float-right menu-arrow"></span></a>
                            </li>
                            <li>
                                <a href="/admin/delivery" class="waves-effect">
                                    <i class="fal fa-truck"></i>
                                    <span> Delivery <span class="float-right menu-arrow"></span></a>
                            </li>
                           
                            <li>
                                <a href="javascript:void(0);" class="waves-effect">
                                    <i class="fal fa-shopping-cart"></i>
                                    <span> Orders <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                                <ul class="submenu">
                                    <li>
                                        <a href="/admin/order/list">
                                            Current Orders
                                        </a>
                                    </li>
                                   
                                    <li>
                                        <a href="/admin/order/add">
                                            Add new Order
                                        </a>
                                    </li>
                                    
                                </ul>
                            </li>
                            <li>
                                <a href="/admin/customer/list" class="waves-effect">
                                    <i class="fal fa-users"></i>
                                    <span> Customer </span> 
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0);" class="waves-effect">
                                    <i class="fal fa-envelope"></i>
                                    <span> Email <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                                <ul class="submenu">
                                    
                                    <li>
                                        <a href="/admin/email/configuration">
                                            SMTP Configuration
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="/admin/email/auto">
                                            Auto emails
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="/admin/email/composer">
                                            Compose Email
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="/admin/email/sent">
                                            Sent Emails
                                        </a>
                                    </li>
                                    
                                </ul>
                            </li>
                           
                            <li>
                                <a href="javascript:void(0);" class="waves-effect">
                                    <i class="fal fa-file"></i>
                                    <span> Pages <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                                <ul class="submenu">
                                    <li>
                                        <a href="/admin/page/add">
                                            Add New Page
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/admin/page/list">
                                            List Pages
                                        </a>
                                    </li>
                                    
                                </ul>
                            </li>
                            
                      
                            <li>
                                <a href="javascript:void(0);" class="waves-effect">
                                    <i class="fal fa-cog"></i>
                                    <span> Settings <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="/admin/siteSettings">
                                                Site Information
                                            </a>
                                        </li>
                                    
                                    <li>
                                        <a href="/admin/theme/list">
                                            Manage themes
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="/admin/image">
                                            Image
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="/admin/siteSettings/invoice">
                                            Invoice
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="/admin/component">
                                            Components
                                        </a>
                                    </li>
                                    
                                </ul>
                            </li>

                            
                        </ul>

                    </div>
                    <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->


        
       

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
                <!-- Start content -->
                <div class="content">