<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Alpha </title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    
    <%-await include('header.html')%>
    <%-await include('imageLibrary.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Site Setting </h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    <!-- start main content from here  -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <form action="#" method='post' onsubmit="submitSiteSettings(event)" class=''>
                                    <h4 class="mt-0 header-title">Site Settings</h4>
                                    <hr>   
                                     
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Site Title</label>
                                        <div class="col-sm-10">
                                            <input class='form-control' type="text" name="title" value='<%-site.title%>' id="">
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>

                                    <p>
                                        <h6 class='text-secondary mt-5  '>Admin Information</h6>
                                    </p>
                                    <hr>
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Admin Name</label>
                                        <div class="col-sm-10">
                                            <input class='form-control' type="text" name="adminName" value='<%-site.adminName%>' id="">
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Admin Email</label>
                                        <div class="col-sm-10">
                                            <input class='form-control' type="text" name="adminEmail" value='<%-site.adminEmail%>' id="">
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                   

                                    <p>
                                        <h6 class='text-secondary mt-5  '>Logo & Icon</h6>
                                    </p>
                                    <hr>
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Site Logo</label>
                                        <div class="col-sm-10">
                                            <span>
                                                <input class='form-control' type="text" name="logo" value='' id="logo">
                                            </span>
                                            <div class="col-2">
                                                <img src="/logo.png" alt="" class="img-thumbnail img-fluid">
                                            </div>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Site Icon</label>
                                        <div class="col-sm-10">
                                            <span>
                                                <input class='form-control' type="text" name="icon" value='' id="icon">
                                            </span>
                                            <div class="col-2">
                                                <img src="/images/favicon.ico" alt="" class="img-thumbnail">
                                            </div>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                     
                                    <button type='submit' class="btn btn-success">
                                        <i class="fal fa-check"></i>
                                        Update Settings
                                    </button>
                                    <button type='reset' class="btn btn-secondary">
                                        <i class="fa fa-refresh"></i>
                                        Reset Form
                                    </button>
                                    </form>
                                    
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->      
                    <!--end main content here-->
                </div>
                <!-- container-fluid -->

    <%-await include('footer.html')%>
         
</body>
<script src="/admin/js/admin/siteSettings.js"></script>
<script>
    new ImageLibrary(document.getElementById('logo'));
    new ImageLibrary(document.getElementById('icon'));
</script>
</html>