<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Category Detail</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    
    <%-await include('assets.html')%>

</head>

<body>

    <!-- Begin page -->
    

       <%-await include('header.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Product </h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    <!-- start main content here-->
                    <div class="row">


                        <div class="col-md-6">
                            <div class="card m-b-30">
                                <div class="card-body">
        
                                    <h4 class="mt-0 header-title">Tag List</h4>
                                    <p class="sub-title">
                                        Click on edit to edit tag, add new from right panel.
                                    </p>
                                    
                                    <div class="table-responsive">
                                        <table class="table table-striped mb-0">
                                            
                                            <tbody>
                                                <%for(x of tags){%>
                                                <tr>
                                                    <td scope="row">
                                                        
                                                        <button class="float-right btn btn-outline-danger btn-sm m-1" onclick="delTag('<%-x._id%>')">
                                                            <i class="fal fa-trash-alt"></i>
                                                        </button>
                                                        <button class="float-right btn btn-outline-primary btn-sm m-1" onclick='viewEditModal("<%-x._id%>", "Tag", "\/admin\/tag\/update")'>
                                                            <i class="fal fa-edit"></i>
                                                        </button>

                                                        <b><%= x.name%></b>
                                                        <div class='text-secondary'>
                                                            <%-x.description%>
                                                        </div>
                                                    </td>
                                                    
                                                </tr>
                                                <%}%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col -->

                        <div class="col-md-6">
                            <div class="card m-b-20">
                                <div class="card-body">
    
                                    <h4 class="mt-0 header-title">Add New Tag </h4>
                                    

                                    <!-- *edit form -->
                                    <form action="#" onsubmit='submitTag(event)'>
                                    <div class="table-responsive">
                                        <table class="table table-bordered mb-0" id='mainTable'>
                                            <tbody>
                                                
                                                <tr>
                                                    <td class='p-1'>Name</td>
                                                    <td class='p-1'>
                                                        <input class='form-control' type="text" name="name" id="" >
                                                    </td>
                                                </tr>
                                                
                                                <tr>
                                                    <td class='p-1'>Short Description</td>
                                                    <td class='p-0'>
                                                        <textarea name="description" id="" cols="30" rows="10" class='form-control border-0'></textarea>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                        <button class="btn btn-success mt-2" type='submit' id='submitBtn' >Create Tag</button>
                                    </div>
                                    
                                </form>
                                    <!-- end edit form -->
                                </div>
                            </div>

                        </div><!-- end col-->

                    </div><!-- end row -->
                        
                      

                    <!-- end main content here-->
                </div>
                <!-- container-fluid -->

           

   <%-await include('footer.html')%>

   <script>
       let list = <%-JSON.stringify(tags)%>
   </script>
</body>

</html>