<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>theme List</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    <%-await include('assets.html')%>
    <script src='/admin/js/admin/theme.js'></script>
</head>

<body>

    <!-- Begin page -->

       <%-await include('header.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Uploaded Themes</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    
                    <!-- start main content here-->
                        <div class="row">

                            <div class="col-md-3 col-xl-3 text-center">
                                <!-- Simple card -->
                                <div class="card m-b-30">
                                    <div class="card-body">
                                        <i class="fal fa-upload fa-4x"></i>
                                    </div>
                                    <div class="card-footer">
                                        <h4 class="card-title font-16 mt-0">
                                            <a href="/admin/theme/add" class="stretched-link">
                                                Upload New Theme
                                            </a>
                                        </h4>
                                    </div>
                                </div>
        
                            </div>

                            <%for (theme of themes){%>
                            <div class="col-md-6 col-xl-3">
        
                                <!-- Simple card -->
                                <div class="card m-b-30">
                                    <img class="card-img-top img-fluid" src="<%-theme.thumb%>" alt="<%=theme.name%> image">
                                    <div class="card-body">
                                        <h4 class="card-title font-16 mt-0"><%=theme.name%></h4>

                                        <button onclick="activateTheme('<%=theme._id%>')" class="btn btn-sm btn-primary waves-effect waves-light">
                                            <i class="fa fa-check"></i> Set Active
                                        </button>

                                        <a href="/admin/theme/update/theme/delete/<%=theme._id%>" class="btn btn-sm btn-danger waves-effect waves-light">
                                            <i class="fa fa-trash"></i> Delete Theme
                                        </a>
                                    </div>
                                </div>
        
                            </div><!-- end col -->
                            <%}%>
                        </div>

                    <!-- end main content here-->
                </div>
                <!-- container-fluid -->

           

   <%-await include('footer.html')%>

</body>

</html>