<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>theme List</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    <%-await include('assets.html')%>
    <script src='/admin/js/admin/theme.js'></script>
</head>

<body>

    <!-- Begin page -->

       <%-await include('header.html')%>

                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Uploaded Themes</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Alpha</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    
                    <!-- start main content here-->
                        <div class="row">
                            <form action="#" class="form" id="theme-form" onsubmit="uploadTheme(event)" enctype='multipart/form-data'>
                                
                                <div class="form-group">
                                    <label for="theme">Thumbnail:</label>
                                    <input type="file" name="thumb" id="" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="type">Theme type:</label>
                                    <select name="type" id="" class='form-control'>
                                        <option value="">Select Theme Type</option>
                                        <option value="spa">Api Based Template (React/Angular/Vue)</option>
                                        <option value="template">Alpha Template</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="theme">Theme Folder:</label> <br>
                                    <span class="text-secondary">
                                        Convert You theme folder to a .zip file and upload
                                    </span>
                                    <br><br>
                                    <input type="file" name="folder" id="" class="form-control">
                                </div>

                                <button class="btn btn-primary" type='submit'>
                                    <i class="fal fa-upload"></i>
                                    Upload
                                </button>
                            </form>
                        </div>

                    <!-- end main content here-->
                </div>
                <!-- container-fluid -->

           

   <%-await include('footer.html')%>

</body>

</html>