#modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: RGBA(0,0,0,.7);
    z-index:1000;
    display: none;
    opacity:0;
    transition: opacity .5s ease-in-out;
}

#modal .container{
    background: #fff;
    width: 60%;
    height:90vh;
    margin-left: 20%;
    margin-top: 5vh;
    padding: 20px;
    overflow: scroll;
    scrollbar-width:thin;
}

#modal .container input{
    border-color: rgb(58, 73, 116);
}

.components .card{
    border: 1px solid #07084d82;
}
.components .card-body{
    max-height:50vh;
    
    overflow-y:scroll;
    scrollbar-width:thin;

}