.bg-white{
    background: #fff !important;
}
.bg-offWhite{
    background: #eee !important;
}
table input{
    border:none !important;
    background: #fff !important;
}
table select{
    width:100%;
    border:none;
}
table input::-webkit-outer-spin-button,
table input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

table input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.formModal{
    position: absolute;
    top:0;
    width: 100%;
    height:100%;
    text-align: center;
    background: RGBA(0,0,0, .6);
    z-index: 1000;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
.formModal input, .formModal textarea{
    margin-top: 5px;
    margin-bottom: 5px;
}
.formModal>div{
    width:60%;
    margin-left:20% ;
    background: #fff;
    margin-top:15vh;
    border: 1px solid #000;
    padding: 20px;
}
@media only screen and (max-width : 568px){
    .formModal>div{
        width:95%;
        margin-left:2.5%;
        margin-top: 10vh;
    }  
}