.libraryContainer{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index: 10000;
    background: rgba(165, 132, 132  , 0.253);
    display: none;
}

.library{
    width:90%;
    margin:auto;
    margin-top:2.5vh;
    height:95vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    position: relative;
}

.emptyMessage{
    font-size: large;
    text-align: center;
    line-height: 50vh;
}
.uploadContainer{
    position: absolute;
    z-index:100;
}
.imageCard{
    cursor:pointer;
}
.card-img{
    height:100%;
    position: relative;
}
.card-img .helper{
    vertical-align: middle;
    display: inline-block;
}
.card-img img{
    vertical-align: middle;
}
.card-img:hover{
    border: 1px solid #2a3988;
}
.selected{
    border: 1px solid #2a3988;
}
.selected::after{
    content:'\f00c';
    font-family:"Font Awesome 5 Pro";
    position: absolute;
    right:0;
    bottom:0;
    color: #2a3988;
    background: #ffffff85;
    padding:2px 5px;
}

.remove-btn{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background: RGBA(0,0,0,0);
} 

.image-editor{
    position:absolute;
    width:100%;
    height:100vh;
    display:none;
    background-color: black;
}