#updateForm{
    position: absolute;
    background: RGBA(0,0,0,.7);
    top:0; 
    left:0;
    z-index:999;
    width: 100%;
    padding:10px;
}

#updateForm .formBody{    
    width:80%;
    margin:auto;
    background:#fff;
    padding: 20px;
}