.spinnerContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: RGBA(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 10000;
    align-content: center;
    justify-content: center;
}
.childSpinner{
    position: absolute;
}
.spinner{
    display: inline-block;
    border: 1px solid #333;
    padding:20px;
    border-radius:50%;
    background: RGBA(255, 255, 255, .9);
}